@lost flexbox flex;
@lost gutter #{$grid-gutter-width};
@lost cycle none;

.row {
  flex-grow: 1;
  lost-flex-container: row;

  [class^="col"] {
    /*display: flex;*/
    height: fit-content;
    margin-top: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    lost-column: $i/$grid-columns;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @for $i from 1 through $grid-columns {
    .col#{$infix}-#{$i} {
      lost-column: 1/1;

      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        lost-column: $i/$grid-columns;
      }
    }
  }
}

