@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

@import "mixins/breakpoints";
@import "mixins/asserts";
@import "mixins/buttons";
@import "mixins/hover";

@import "variables";
@import "normalize";
@import "visibility";
@import "reboot";
@import "grid";
@import "buttons";

@import "custom/flex";
@import "custom/typography";
@import "custom/global";
@import "custom/header";
@import "custom/img-popup";
@import "custom/footer";

@import "custom/index";
@import "custom/info";
@import "custom/we-do";
@import "custom/cases";
@import "custom/blog";
@import "custom/contacts";
@import "custom/blog-post";
@import "custom/short-portfolio";

@import "custom/animate-plugin";
