/*COLORS*/
$brand-grey-30: #F7F7F7 !default;
$brand-grey-40: #EDEFF2 !default;
$brand-grey-50: #868B94 !default;

$brand-grey-new: #A0A3A8 !default;
$brand-primary: #0F77FF !default;
$brand-dark: #102041 !default;
$brand-dark-new: #11141B !default;

$brand-green: #06B236 !default;
$brand-red: #EC3131 !default;

$body-color: $brand-dark !default;
$body-bg: #ffffff !default;

$resize_tr: .1s linear;
$shadow: 42px 30px 30px 0 rgba(231, 231, 231, 0.70);

/*FONTS*/
$font-size-base: 18px !default; // Assumes the browser default, typically `16px`
$font-size-xs: calc(13 / 18 * 1rem) !default;
$font-size-s: calc(15 / 18 * 1rem) !default;
$font-size-m: calc(21 / 18 * 1rem) !default;

//$font-family-base: "museo_sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: 'Open Sans', sans-serif !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.7 !default;

/*HEADING*/
$headings-margin-bottom: 1.2rem !default;
$headings-font-family: "tttravels", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-weight: 600 !default;
//$headings-line-height: 1.15 !default;
$headings-line-height: 1.22 !default;
$headings-color: inherit !default;

/*GRID*/
//$grid-gutter-width: 48px !default;
$grid-gutter-width: 32px !default;
$grid-columns: 12;
$grid-breakpoints: (
        zero: 0,
        xxs: 320px,
        xxs-2: 375px,
        xxs-3: 420px,
        xs: 600px,
        xs-2: 768px,
        sm: 900px,
        md: 1024px,
        md-2: 1115px,
        lg: 1280px, //just in case
        lg-2: 1505px, //just in case
        xl: 1680px,
        xxl: 1921px,
        /*zero: 0,
        xxs: 320px,
        xs: 420px,
        sm: 768px,
        md: 1024px,
        lg: 1280px,
        xl: 1440px,
        xxl: 1900px*/
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$focus-shadow: 0 0 2px 2px rgba($brand-primary, .40);

/*LINKS*/
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: lighten($link-color, 25%) !default;
$link-hover-decoration: none !default;
$link-font-weight: $font-weight-bold;

/*BUTTONS*/
$input-btn-border-width: 0px;
$border-radius: 0rem !default;

$btn-padding-x: 2.05rem !default;
$btn-padding-y: 1.05rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-base !default; //$font-weight-normal !default;

$btn-primary-color: white !default;
$btn-primary-bg: $brand-primary !default;

$btn-link-disabled-color: lighten($brand-primary, 0.5) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default;

$btn-transition: all .2s ease-in-out !default;

$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$cursor-disabled: true !default;
$enable-shadows: true !default;
$btn-active-box-shadow: inset 0 3px 5px rgba(black, .125) !default;

$hover-transition: translateX(-12px) translateY(-12px);
$hover-box-shadow: 5px 14px 13px -4px rgba(31,53,83,0.05);