doctype html
html(lang='en')
    head
        title 'Humbleteam'
        meta(charset='utf-8')

        meta(name='description' content='Humbleteam')
        meta(name='author' content='Humbleteam')
        meta(name='viewport' content='width=device-width, initial-scale=1,  maximum-scale=1')

        link(rel='apple-touch-icon' sizes='180x180' href='img/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='img/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='img/favicons/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')

        meta(property='og:title' content=title)
        meta(property='og:description' content='We are humbleteam. We create digital products at&nbsp;the intersection of&nbsp;users and business needs.')
        meta(property='og:image:height' content='630')
        meta(property='og:image:width' content='1200')
        meta(property='og:image' content='http://test-humbleteam.com.s3-website-us-west-1.amazonaws.com/img/sharing/index.jpg')

        meta(name='theme-color' content='#ffffff')

        meta(http-equiv="refresh" content="0; url=http://humbleteam.com/")