extends layout

block vars
    - var attributes = { 'class': 'blog-post-page white-bg' }

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h1 Guide to&nbsp;design teamwork

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/blog/design-teamwork.png', srcset='./img/blog/design-teamwork@2x.png 2x', alt='').blog-post-promo__right__img

    .content-800.content-800-blog.blog-large-v-margin
        p While designing, it is important for&nbsp;everyone in&nbsp;our team to&nbsp;be on&nbsp;the same page regarding how we do things. Here are our best practises to&nbsp;help you design efficiently and in&nbsp;sync with&nbsp;your colleagues.

        h3.blog-large-v-margin 1. Syncing your work
        p We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.
        p #[span.italic Set up automatic sync] and have the project synced at&nbsp;all times. #[span.italic We don't use any other cloud storage system].

        h3.blog-large-v-margin 2. File naming
        p All files should have clear project name and file version. If you have more than one version, please move all older files to&nbsp;archive folder.

        .simple-row
            .grid-cell-50
                h6.green Good
                ul
                    li Google_banking-app_01
                    li Google_banking-app_02-dan
                    li Google_banking-app_02-sergey

            .grid-cell-50
                h6.red Bad
                ul
                    li Untitled
                    li Google-final-88
                    li UI.psd

        h3.blog-large-v-margin 3. Artboards naming
        p All artboards should have a unique identifier in&nbsp;order to&nbsp;be referenced quickly. All numbers should be 2-digit numbers.
        p Visual design artboard names should correspond with&nbsp;wireframe names.

        .full-width-wrap
            img(src='./img/blogpost/naming-formula.png', srcset='./img/blogpost/naming-formula@2x.png 2x', alt='')

        h6 Examples
        .simple-row
            .grid-cell-50
                ul
                    li 01.01 Login
                    li 01.02 Login &mdash; wrong email
                    li 02.01 Sign up

            .grid-cell-50
                ul
                    li 03.01 Dashboard
                    li 03.02 Dashboard &mdash; accounts
                    li 03.03 Dashboard &mdash; empty account

        h3.blog-large-v-margin 4. Symbols: organizing and naming
        p We require our designers to&nbsp;use symbols because they allow to&nbsp;reuse elements and have modular and consistent design solution across all Humbleteam projects. Here are a few rules and suggestions how to&nbsp;use them efficiently.
        p If element is used more than 3 times &mdash; make a symbol instead.

        .full-width-wrap
            .full-width-wrap__content
                .h6-small Naming formula
                .sans-title category / shape / size / color / state
            

        .simple-row
            .grid-cell-66
                h6 Examples
                ul
                    li button/circle/large/blue
                    li button/rectangular/large/blue/no-icon
                    li button/rectangular/large/blue/no-icon/secondary
                    li elements/navbars/navbar_4
                    li elements/toggles/toggle_on
                    li icon/24/exit
                    li icon/24/arrow_back

            .grid-cell-33
                h6 Naming
                ul
                    li Buttons &mdash; button
                    li Icons &mdash; icon
                    li Forms &mdash; form
                    li Inputs &mdash; form/input

        p For icons naming we use BEM convention.<br>#[a(href='https://en.bem.info/methodology/naming-convention').mid https://en.bem.info/methodology/naming-convention.]

        h3.blog-large-v-margin 5. Plugins
        p It is crucial to&nbsp;be able to&nbsp;iterate fast in&nbsp;sketch. Here are our top picked plugins that can help you design much faster.

        .simple-row
            .grid-cell-33
                h6 Install manually
                ul
                    li.with-link Sketch runner<br>#[a(href='http://sketchrunner.com' target='_blank').small-link wwww.sketchrunner.com]
                    li.empty-li
                    li.with-link Invision Craft<br>#[a(href='http://https://www.invisionapp.com/craft' target='_blank').small-link www.invisionapp.com/craft]

            .grid-cell-66
                h6 Install using Runner

                .simple-row
                    .grid-cell-50
                        ul
                            li Preview in&nbsp;browser
                            li Sketch mate
                            li Sketch measure
                            li Random size
                            li Pixel Perfecter

                    .grid-cell-50
                        ul
                            li Icons
                            li Align artboards
                            li Sort me
                            li Swap elements
                            li Automate sketch

        h3.blog-large-v-margin 6. User experience checklist
        ol
            li Use following UX kit when building wireframes &mdash; #[a(href='files/Humbleteam-ux-kit.sketch') download kit]
            li Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.
            li Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.
            li Your screens in&nbsp;your wireframes answer following question:
                ul
                    li How I get there and where I can go further
                    li Accents and hirarchy of&nbsp;elements
                    li Actual wording. Every lorem ipsum means bying beer for&nbsp;the whole project team!
                    li Clickable and non-clickbale elements are visually distinguished

            li Your wireframes should focus on&nbsp;pure UX concept and shouldn't contain any UI work. You are encouraged to&nbsp;leave out prettification and rather focus on&nbsp;concept iteration.
            li Your solution should be perceived as a concept description and neither part of&nbsp;it should be perceived as final graphics.
            li Your wireframes are as detailed as your hypothises.

        h3.blog-large-v-margin 7. Visual design checklist
        ol
            li Your designs should not contain any half pixels. Use plugin (Pixel perfecter) to&nbsp;fix those.
            li Contrast ratio on&nbsp;main texts shouldn't be #[a(href='http://webaim.org/resources/contrastchecker/' target='_blank') less than AA].
            li After selecting a font for&nbsp;a project please check the pricing.
            li All buttons and links should have following states designed: Default, Hover, Active, Focused, Disabled.
            li All icons have persistent sizing (for example 12x12, 18x18, 24x24, 32x32 or&nbsp;36x36).
            li For website mocks you should provide responsiveness guidelines including following dimensions:
                ul
                    li Wide display (1920px)
                    li Regular laptop display (1440px or&nbsp;1680px)
                    li Tablet (1000px)
                    li Mobile (375px)


        h3.blog-large-v-margin 8. Shortcuts
        p Many projects require fast design iterations to&nbsp;be able to&nbsp;explore different design approaches before diverging to&nbsp;the one direction. It is crucial to&nbsp;be able to&nbsp;design fast in&nbsp;your tool of&nbsp;preference.
        ol
            li Learn Sketch shortcuts &mdash; #[a(href='http://sketchshortcuts.com' target='_blank') www.sketchshortcuts.com]
            li Learn Photoshop shortcuts &mdash; #[a(href='https://www.nobledesktop.com/shortcuts/photoshopcs5/mac' target='_blank') www.nobledesktop.com/shortcuts/photoshopcs5/mac]