extends layout

block vars
    -
        var attributes = { 'class': 'white-bg' }
        var page = 'blog'

block content
    .page-wrap.initial-content-margin
        .inner-content
            h1 We share our lessons. Because giving is&nbsp;more blessed and paid than receiving.

            .blog-content
                a(href='blog-design').blog-item
                    .blog-item__top
                        img(src='./img/blog/design-guidelines.png', srcset='./img/blog/design-guidelines@2x.png 2x', alt='').blog-item__main__img

                    h4 Design guidelines
                    .s.brand-gray Internal guide, 5min read, forever in&nbsp;use

                a(href='files/Humbleteam-ux-kit.sketch').blog-item
                    .blog-item__top
                        .blog-item__top__img-text-wrap
                            img(src='./img/blog/sketch-logo.svg', alt='').blog-item__top__img
                            p.brand-gray Sketch bulletproof template focusing on&nbsp;speeding up your prototyping process

                    h4 Wireframes template
                    .s.brand-primary.weight-500 Download .sketch

                //a(href).blog-item
                //    .blog-item__top
                //        img(src='./img/blog/design-process.png', srcset='./img/blog/design-process@2x.png 2x', alt='').blog-item__main__img
                //
                //    h4 Design process in&nbsp;Humbleteam
                //    .s.brand-gray Medium article, 3min read

                a(href='https://medium.com/p/c0b8b9f63150' target='_blank').blog-item
                    .blog-item__top
                        img(src='./img/blog/5-ways-to-make-people.png', srcset='./img/blog/5-ways-to-make-people@2x.png 2x', alt='').blog-item__main__img

                    h4 5 ways to&nbsp;make people like working with&nbsp;you
                    .s.brand-gray Medium article, 3min read

                //a(href).blog-item
                //    .blog-item__top
                //        img(src='./img/blog/stickers.png', srcset='./img/blog/stickers@2x.png 2x', alt='').blog-item__main__img
                //
                //    h4 Get free humble stickers
                //    .s.brand-primary.weight-500 Request

                .blog-item
                    .blog-item__top._with-bottom-padding
                        .blog-item__top__img-text-wrap._type-2
                            .blog-item__top__img-circle
                                img(src='./img/blog/medium.svg', alt='').blog-item__top__img
                            h4 Our Medium heritage

                        .blog-item__top__link-wrap
                            a(href='https://medium.muz.li/0-usability-testing-guide-in-7-steps-a3fc94b4f729' target='_blank').blog-item__top__link $0 usability testing guide in&nbsp;7 steps
                            .s.brand-gray Medium article, 3min read

                        .blog-item__top__link-wrap
                            a(href='https://blog.prototypr.io/why-designers-deserve-more-3c487f42d03a' target='_blank').blog-item__top__link Why design costs $$$
                            .s.brand-gray Medium article, 3min read
