extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#fafbfc')
        .case-promo-bg
            img(src='./img/cases-new/google-bank/main.jpg', srcset='./img/cases-new/google-bank/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/google-bank/main-phone.jpg', srcset='./img/cases-new/google-bank/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile
                //-img(src='./img/cases-new/google-bank/main.jpg', srcset='./img/cases-new/google-bank/main@2x.jpg 2x', alt='').wedo-promo__right__img

            .wedo-promo__left
                h6.h6-small Something different from&nbsp;a classic bank
                h1 Google bank application concept

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p You trust it your business correspondence, personal messages, search history and pictures of&nbsp;your cat. While many fear this overwhelming exposure, you can make this inevitability work for&nbsp;you. You know who else is gathering information about you? Banks. So it's only natural to&nbsp;put those two in&nbsp;the same room and let them talk.
                p Here, at&nbsp;Humbleteam, we believe that GoogleBank could become something different from&nbsp;a classic bank, become something friendly and inviting, like other Google services that we all got used to.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://player.vimeo.com/video/230599693?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

    .content-800.info-large-v-margin
        h2 One app, many banks
        p Google bank will know enough to&nbsp;figure out your rating. And with&nbsp;your rating being good you can place a loan application, receive offers from&nbsp;various banks and pick the most adequate one. Now, you who will choose the bank, not vice versa.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-1.jpg', srcset='./img/cases-new/google-bank/google-1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-2.jpg', srcset='./img/cases-new/google-bank/google-2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 One-click transfers
        p See a better deal? Get a better deal. GoogleBank allows you to&nbsp;unite all your accounts in&nbsp;one place and lets you juggle your money in&nbsp;order to&nbsp;choose the most suitable conditions. With this app, you can send money in&nbsp;one tap, fast and easy.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-3.jpg', srcset='./img/cases-new/google-bank/google-3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Banking without a bank
        p You can be few taps and a fingerprint away from&nbsp;completing tedious banking procedures, paying for&nbsp;services and spending some cash for&nbsp;whatever you feel like. Why complicate things? Let's make a finance routine feel like a walk in&nbsp;the park.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-4.jpg', srcset='./img/cases-new/google-bank/google-4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 Create events, spend together
        p Pay together with&nbsp;friends, or&nbsp;collect money for&nbsp;a present for&nbsp;colleague. GB allows you to&nbsp;create events and set the participation price (it could be fixed, individually determined, or&nbsp;variable).
        p There's no need to&nbsp;transfer the money instantly; you can just enter the number. Money will be withdrawn when the amount is raised, or&nbsp;the time runs out. It's an easy, but fair way to&nbsp;maintain healthy financial relationships between friends or&nbsp;colleagues.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/google-bank/google-5.jpg', srcset='./img/cases-new/google-bank/google-5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-oxygen',
                preview_folder: 'oxygen',
                tag: 'Mobile app',
                title: 'Mobile bank for&nbsp;millennials'
            }, {
                link: 'case-monitoring',
                preview_folder: 'monitoring',
                tag: 'Landing page and web service',
                title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)