extends layout

include mixins/portfolio

block vars
    - var page = 'cases'

block content
    .page-wrap.initial-content-margin
        -
            cases = [
                {
                    link: 'case-google-bank',
                    preview_folder: 'google-bank',
                    tag: 'Mobile app',
                    title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
                }, {
                    link: 'case-monitoring',
                    preview_folder: 'monitoring',
                    tag: 'Landing page and web service',
                    title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
                }, {
                    link: 'case-expenses',
                    preview_folder: 'expenses',
                    tag: 'Landing page',
                    title: 'Expense tracker in&nbsp;your pocket'
                }, {
                    link: 'case-boule',
                    preview_folder: 'boule',
                    tag: 'Web service',
                    title: 'Boule &mdash; blockchain voting system'
                }, {
                    link: 'case-misterporter',
                    preview_folder: 'misterporter',
                    tag: 'Web service',
                    title: 'Web service for&nbsp;automating Airbnb business'
                }, {
                    link: 'case-oxygen',
                    preview_folder: 'oxygen',
                    tag: 'Mobile app',
                    title: 'Mobile bank for&nbsp;millennials'
                }
            ]

        h2 Portfolio. No more words.

        +portfolio(cases)