extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#fafcfc')
        .case-promo-bg
            img(src='./img/cases-new/misterporter/main.jpg', srcset='./img/cases-new/misterporter/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/misterporter/main-phone.jpg', srcset='./img/cases-new/misterporter/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Managing a team at&nbsp;its finest
                h1 Automated Airbnb business

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Airbnb gives flexible accommodation booking options for&nbsp;some people and provides a way to&nbsp;earn extra income for&nbsp;others. Misterporter platform allows to&nbsp;manage a real estate property and run a successful renting business on&nbsp;Airbnb. The platform enables to&nbsp;create and manage teams that will maintain your property without demanding you to&nbsp;micromanage it every day.
                br
                br
                h4 Problem
                p Any automation is highly complicated in&nbsp;its core. Our target was to&nbsp;wrap this clever system in&nbsp;a friendly looking graphics.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/misterporter/screen-1.jpg', srcset='./img/cases-new/misterporter/screen-1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 We started with&nbsp;examining and analyzing the existing wireframes and providing the Misterporter team with&nbsp;our expertise in&nbsp;complex enterprise systems
        p We developed and applied a rather light-coloured and airy graphic style — we tried not to&nbsp;distance too much from&nbsp;Airbnb and other booking services to&nbsp;establish firm associations with&nbsp;them. We explored multiple dashboards and used our knowledge of&nbsp;relevant systems to&nbsp;handpick the most suitable design solutions for&nbsp;this platform.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/misterporter/screen-3.jpg', srcset='./img/cases-new/misterporter/screen-3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.align-items-center.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/misterporter/screen-2.jpg', srcset='./img/cases-new/misterporter/screen-2@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 How it works
                p The dashboard allows users to&nbsp;create and manage a team of&nbsp;people with&nbsp;customizable schedules that will keep the rent apartment up and running on&nbsp;a regular basis.
                p It’s highly intuitive on&nbsp;one hand and very flexible on&nbsp;the other. Every bit of&nbsp;information is visualized to&nbsp;help understand it’s role in&nbsp;the system.

    .content-800.info-large-v-margin
        h2 Dashboard and navigation
        p Revised user experience resulted in&nbsp;the clear structure of&nbsp;the menu and all of&nbsp;the dashboards ensuring that users would instantly understand the mechanics of&nbsp;the app.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/misterporter/grid.jpg', srcset='./img/cases-new/misterporter/grid@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Graphics and visual language
        p Through several iterations, we created the main illustration for&nbsp;the landing page that should lure users into&nbsp;the system. It’s based on&nbsp;the themes of&nbsp;geometric patterns, complex systems, networks and connections, which are metaphorically representing the platform.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/misterporter/login.jpg', srcset='./img/cases-new/misterporter/login@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-boule',
                preview_folder: 'boule',
                tag: 'Web service',
                title: 'Boule &mdash; blockchain voting system'
            }, {
                link: 'case-oxygen',
                preview_folder: 'oxygen',
                tag: 'Mobile app',
                title: 'Mobile bank for&nbsp;millennials'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)