extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }

block content
    .wedo-promo.dark-color.js-first-screen(style='background-color:#f1f7ff')
        .case-promo-bg
            img(src='./img/cases-new/boule/main.jpg', srcset='./img/cases-new/boule/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/boule/main-phone.jpg', srcset='./img/cases-new/boule/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Voting becomes as easy as social networking
                h1 Cloud democracy with&nbsp;blockchain twist

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Boule is an online voting platform based on&nbsp;blockchain technology that guarantees the fair results and gives flexible access to&nbsp;the polls. It’s secure, decentralized and audible. Ultimately, it’s an e-voting and vote counting that everyone can trust.
                br
                br
                h4 Workflow
                p Design the voting platform, landing page, and mobile platform. Create the promotional video for&nbsp;the product.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/1.jpg', srcset='./img/cases-new/boule/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Blockchain technology is something that people aren't used to&nbsp;yet
        p Our goal was to&nbsp;create a platform that is so easy to&nbsp;use that users won't be afraid of&nbsp;blockchain and will get involved in&nbsp;the democratic processes.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/2.jpg', srcset='./img/cases-new/boule/2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 We're eager to&nbsp;make the product attractive for&nbsp;as many people as possible
        p The idea of&nbsp;simple and safe voting sounded very appealing &mdash; there are actually very few components of&nbsp;the voting platform and process. We just needed to&nbsp;point them out and arrange them in&nbsp;the right order. Then highlight the important things and hide unimportant.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/3.jpg', srcset='./img/cases-new/boule/3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/4.jpg', srcset='./img/cases-new/boule/4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        p We chose a more soothing and cutting-edge visual design to&nbsp;keep the overall feeling of&nbsp;safety that should go together with&nbsp;progress.
        p Our team thoroughly examined banking and financial products to&nbsp;provide a smooth experience of&nbsp;dealing with&nbsp;payments and the voting procedures for&nbsp;one side, while providing simple voting for&nbsp;users.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://www.youtube.com/embed/ImZsH-qTEng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>

    .content-800.info-large-v-margin
        h3 Then we faced a challenge to&nbsp;explain potential users how it works and what this platform is capable of
        p Our creative team produced a scenario that voiced each benefit of&nbsp;the platform step-by-step each. And then the animation crew made it come alive.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/boule/5-botttom.jpg', srcset='./img/cases-new/boule/5-botttom@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-expenses',
                preview_folder: 'expenses',
                tag: 'Landing page',
                title: 'Expense tracker in&nbsp;your pocket'
            }, {
                link: 'case-misterporter',
                preview_folder: 'misterporter',
                tag: 'Web service',
                title: 'Web service for&nbsp;automating Airbnb business'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)