extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true

block content
    .wedo-promo.js-first-screen(style='background-color:#001229')
        .case-promo-bg
            img(src='./img/cases-new/monitoring/main.jpg', srcset='./img/cases-new/monitoring/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/monitoring/main-phone.jpg', srcset='./img/cases-new/monitoring/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Complete redesign of&nbsp;the SaaS product
                h1 Enterprise web service for&nbsp;synthetic monitoring

    .page-wrap
        .content-800.info-large-v-margin
            h6.h6-small.brand-gray What is it about
            p Synthetic monitor provides up-to-the-minute insights into&nbsp;website performance and availability on&nbsp;a global scale. Used by&nbsp;thousands of&nbsp;users the original landing page was looking obsolete and didn’t perform well in&nbsp;terms of&nbsp;conversion and user acquisition.

            //.simple-row.mt-73
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Investments
            //        p.semi-bold $44,000,000+ (Series B)
            //
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Client
            //        p.semi-bold 48 employees
            //
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Field
            //        p.semi-bold Automotive, insurance, AR
            //
            //.simple-row.mt-47
            //    .auto-width-cell
            //        h6.h6-small.brand-gray Accelerated in
            //
            //        .simple-row
            //            .auto-width-cell
            //                .acceleratores-img-wrap
            //                    img(src='./img/accelerators/startup-world-cup.png', srcset='./img/accelerators/startup-world-cup@2x.png 2x', alt='')
            //
            //                .xs-small-line-height.brand-gray.centered Startup World Cup<br>& Summit
            //
            //            .auto-width-cell
            //                .acceleratores-img-wrap
            //                    img(src='./img/accelerators/google-launchpad.png', srcset='./img/accelerators/google-launchpad@2x.png 2x', alt='')
            //
            //                .xs-small-line-height.brand-gray.centered Google Launchpad<br>Accelerator

    //-
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h4 General
                p Synthetic monitor provides up-to-the-minute insights into&nbsp;website performance and availability on&nbsp;a global scale. Used by&nbsp;thousands of&nbsp;users the original landing page was looking obsolete and didn't perform well in&nbsp;terms of&nbsp;conversion and user acquisition.
                br
                br
                h4 Workflow
                p Ideation, usability research, prototyping, interface design, launch, usability testing.

    .img-wrap-1420.info-large-v-margin
        .aspect-ratio
            <iframe src="https://player.vimeo.com/video/232654503?color=0d64df&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

    .content-800.info-large-v-margin
        h2 Totally reworked and optimised information structure
        p The initial urge was to&nbsp;recreate the customer experience of&nbsp;the typical website user, who was facing an obsolete look and unclear information structure. The idea evolved to&nbsp;the one to&nbsp;have friendlier feel to&nbsp;stand out in&nbsp;comparison to&nbsp;the competitive products. We also approached the price policy together with&nbsp;the client and tried to&nbsp;provide adequate tariffs.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/monitoring/full-size.jpg', srcset='./img/cases-new/monitoring/full-size@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.align-items-center.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/monitoring/map.png', srcset='./img/cases-new/monitoring/map@2x.png 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 It's proved by&nbsp;usability tests
                p The whole redesign process was covered by&nbsp;qualitative usability tests with&nbsp;real users. We tested the product as a set of&nbsp;graphic mockups along with&nbsp;the live website.
                p After several months, the product owner did a customer survey that showed overall satisfaction and appreciation of&nbsp;the redesigned version.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/home.jpg', srcset='./img/cases-new/monitoring/home@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/monitoring/pricing.jpg', srcset='./img/cases-new/monitoring/pricing@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            img(src='./img/cases-new/monitoring/feedback.jpg', srcset='./img/cases-new/monitoring/feedback@2x.jpg 2x', alt='').js-popup-img

    .content-800.info-large-v-margin
        h3 Multi-platform solution
        p We also produced a scalable mobile version without reducing the functions of&nbsp;the original product.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/mobile.jpg', srcset='./img/cases-new/monitoring/mobile@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/monitoring/ui-kit.jpg', srcset='./img/cases-new/monitoring/ui-kit@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-google-bank',
                preview_folder: 'google-bank',
                tag: 'Mobile app',
                title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
            }, {
                link: 'case-expenses',
                preview_folder: 'expenses',
                tag: 'Landing page',
                title: 'Expense tracker in&nbsp;your pocket'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)