extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true
        var caseColor = 'white'

block content
    .wedo-promo.js-first-screen(style='background-color: #043aa6')
        .case-promo-bg
            img(src='./img/cases-new/oxygen/main.jpg', srcset='./img/cases-new/oxygen/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/oxygen/main-phone.jpg', srcset='./img/cases-new/oxygen/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Consistent inconsistency
                h1 Financial overview and a helping hand in&nbsp;a mobile app

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Gig economy is inevitably growing and it’s not all rainbows and unicorns — it’s hard for&nbsp;some to&nbsp;maintain the steady income, which might depend on&nbsp;season or&nbsp;a changing demand for&nbsp;skillset.
                p There’s a new type of&nbsp;banking app to&nbsp;fill in&nbsp;this new void of&nbsp;inconsistent personal finances. It should help our user to&nbsp;keep an eye on&nbsp;their own financial health, make predictions about the future and yes, lend money when traditional banks refuse to&nbsp;do that because of&nbsp;inconsistent nature of&nbsp;the user’s income.
                br
                br
                h4 Problem
                p There’s a whole market of&nbsp;professionals that are not fitting into&nbsp;current 9 to&nbsp;5 office system, they are freelancers. However, they are still in&nbsp;need of&nbsp;financial tools, just like everyone else. Banks, on&nbsp;the other side, are hostile towards people who are falling out of&nbsp;a standard pattern.

    .img-wrap-1680.info-large-v-margin
        img(src='./img/cases-new/oxygen/1.jpg', srcset='./img/cases-new/oxygen/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h2 Solution
        p We started with&nbsp;understanding the problem in&nbsp;the first place — people out of&nbsp;the traditional banking system needed support. Should our user have any issues or&nbsp;questions — the app’s dashboard is the go-to place. We iterated the concepts of&nbsp;the home page that contained all vital information and had links to&nbsp;all major screens.
        p We decided to&nbsp;go with&nbsp;high contrast and bold typography on&nbsp;the app that should accompany the new brand look and feel.

    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            img(src='./img/cases-new/oxygen/2.jpg', srcset='./img/cases-new/oxygen/2@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 Main screen
                p Every piece of&nbsp;vital information is shown here: safe to&nbsp;spend amount, income, expenses and financial forecast being indicators of&nbsp;user’s financial health. Upcoming and recent transactions are another handy tools to&nbsp;plan and account resources.

    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            .max-width-400
                h4 Extra money
                p Whenever system indicates financial difficulties, e.g. upcoming transactions exceed forecasted income, it offers user to&nbsp;cover it up with&nbsp;a cash transfer.
        .flex-cell
            img(src='./img/cases-new/oxygen/3.jpg', srcset='./img/cases-new/oxygen/3@2x.jpg 2x', alt='').js-popup-img


    .img-wrap-1420.flex.align-items-center.info-large-v-margin(style='background-color: ' + caseColor)
        .flex-cell
            img(src='./img/cases-new/oxygen/4.jpg', srcset='./img/cases-new/oxygen/4@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 Financial overview
                p Screen devoted to&nbsp;the financial state at&nbsp;a certain point in&nbsp;time with&nbsp;the ability to&nbsp;expand and drill down on&nbsp;any piece of&nbsp;information.

    .content-800.info-large-v-margin
        h2 Making repayment discreet
        p Probably the coolest part of&nbsp;the app is the borrowing and repaying mechanism — it could be done through the freelance work, like driving an Uber or&nbsp;completing projects on&nbsp;Upwork. We built the whole borrowing sequence around that.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/oxygen/5.jpg', srcset='./img/cases-new/oxygen/5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img
        img(src='./img/cases-new/oxygen/6.jpg', srcset='./img/cases-new/oxygen/6@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
        {
            link: 'case-misterporter',
            preview_folder: 'misterporter',
            tag: 'Web service',
            title: 'Web service for&nbsp;automating Airbnb business'
        }, {
            link: 'case-google-bank',
            preview_folder: 'google-bank',
            tag: 'Mobile app',
            title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)