extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'cases-page white-bg' }
        var darkHeader = true

block content
    .wedo-promo.js-first-screen(style='background-color:#0b053b')
        .case-promo-bg
            img(src='./img/cases-new/expenses/main.jpg', srcset='./img/cases-new/expenses/main@2x.jpg 2x', alt='')

        .wedo-promo__content
            .wedo-promo__right
                img(src='./img/cases-new/expenses/main-phone.jpg', srcset='./img/cases-new/expenses/main-phone@2x.jpg 2x', alt='').wedo-promo__right__img-mobile

            .wedo-promo__left
                h6.h6-small Simple and subtle expense management
                h1 Expense tracker in&nbsp;your pocket

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small What is it about
            .content
                h4 General
                p Landing page design and illustrations for the automated expense tracker.
                br
                br
                h4 Problem
                p The website was not reflecting the features of&nbsp;the upcoming new app.
                br
                br
                h4 Workflow
                p Updating the script and producing a scenario for&nbsp;a story, drafting the storyboard, producing illustrations, creating the UI and layouts.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/0.jpg', srcset='./img/cases-new/expenses/0@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .content-800.info-large-v-margin
        h3 We get acquainted with&nbsp;the product and its features to&nbsp;create a storyboard for&nbsp;the presentational web page
        p As we all pretty much could relate to&nbsp;the problem of&nbsp;submitting expenses and trip planning, we were very eager to&nbsp;tell the world about this fascinating piece of&nbsp;technology in&nbsp;the best possible way we can.

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/1.jpg', srcset='./img/cases-new/expenses/1@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/2.jpg', srcset='./img/cases-new/expenses/2@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/3.jpg', srcset='./img/cases-new/expenses/3@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/4.jpg', srcset='./img/cases-new/expenses/4@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/5.jpg', srcset='./img/cases-new/expenses/5@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.info-large-v-margin
        img(src='./img/cases-new/expenses/6.jpg', srcset='./img/cases-new/expenses/6@2x.jpg 2x', alt='').wedo-wide-img__img.js-popup-img

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/expenses/7.jpg', srcset='./img/cases-new/expenses/7@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            img(src='./img/cases-new/expenses/8-book.jpg', srcset='./img/cases-new/expenses/8-book@2x.jpg 2x', alt='').js-popup-img

    .content-800.info-large-v-margin
        h3 First, we took a rough script submitted by&nbsp;our client's team and turned it into&nbsp;a script broken into&nbsp;scenes
        p That would tell a story according to&nbsp;the common storytelling rules and according to&nbsp;the technical restrictions that we assumed would be valid during the execution stage.
        p We illustrated the scenes one by one to create a smooth flow and present chunks of data one at a time using simple real-life examples like planning a business trip, purchasing flight tickets or taking an Uber.

    .img-wrap-1420.flex.info-large-v-margin
        .flex-cell
            img(src='./img/cases-new/expenses/grid-1.jpg', srcset='./img/cases-new/expenses/grid-1@2x.jpg 2x', alt='').js-popup-img
        .flex-cell
            .max-width-400
                h4 We decided to go with vertically stitched frames with transition animations between those
                p Our designers created a layout for controls and text boxes: pieces of text would appear smoothly one by one telling about a specific feature being applied to a real-life situation.

    .wedo-lets-do
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: 'case-monitoring',
                preview_folder: 'monitoring',
                tag: 'Landing page and web service',
                title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
            }, {
                link: 'case-boule',
                preview_folder: 'boule',
                tag: 'Web service',
                title: 'Boule &mdash; blockchain voting system'
            }
        ]

    br
    .cases-portfolio-wrap
        .page-wrap
            +portfolio(cases)