extends layout

block vars
    -
        var attributes = { 'class': 'contacts-page' }
        var page = 'contacts'

block content
    .contacts-content-wrap
        .contacts-map

        .contacts-content
            h1(class=effectClass) Rybna 716/24, Prague<br>Czech Republic
            .contacts-text(class=effectClass) +420 776 828 895
            br
            a(href='mailto:info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', class=effectClass).contacts-text info@humbleteam.com


