extends layout

include mixins/portfolio
include mixins/expertises

block vars
    - var page = 'index'

block content
    -
        slides = [
            {
                class: 'slide__google-bank',
                preview_folder: 'google-bank',
                title: '<span class="brand-primary">Redesigned</span> mobile banking',
                text: 'Meet Google bank, it will change your image of&nbsp;a banking app. Or&nbsp;at&nbsp;least entertain you for&nbsp;2 min.',
                link: 'case-google-bank',
                bg_color: '#fafbfc',
            }, {
                class: 'slide__expenses',
                preview_folder: 'expenses',
                title: 'Simple and subtle <span class="brand-primary">expense</span> management',
                text: 'Predicting expenses even before they actually occur.',
                link: 'case-expenses',
                dark: 'dark',
                bg_color: '#0b053b'
            }, {
                class: 'slide__monitoring',
                preview_folder: 'monitoring',
                title: '<span class="brand-primary">SaaS</span> monitoring app and website',
                text: 'The largest network of&nbsp;servers, the widest range of&nbsp;various tools, all in&nbsp;one solid package.',
                link: 'case-monitoring',
                dark: 'dark',
                bg_color: '#001229'
            }
        ]

    .index-promo.js-index-promo.js-first-screen
        .index-promo-slider-b.js-index-promo-slider._hidden
            .index-promo__slider-cont.js-index-promo-slider-cont
                .index-promo__slider-wrap.js-index-promo-slider-wrap
                    each slide in slides
                        .slide.js-index-promo-slider-item.swiper-slide-active(class=slide.class, data-header=slide.dark, style='background-color:'+slide.bg_color)
                            img(src=`./img/cases-new/${slide.preview_folder}/main-phone.jpg` srcset=`./img/cases-new/${slide.preview_folder}/main-phone@2x.jpg 2x`, alt='').index-promo__img-mobile
                            .slide-cursor-left.js-slide-cursor-left
                            .slide-cursor-right.js-slide-cursor-right
                            .slide__content
                                .description
                                    h1!= slide.title
                                    p!= slide.text
                                    a(href=slide.link).btn Open case study

                .index-promo__slider__pagination.js-index-promo-pagination

    .page-wrap
        .content._big.info-large-v-margin(class=effectClass)
            h2 We are #[span.brand-primary humbleteam.] We create digital products at&nbsp;the intersection of&nbsp;#[span.brand-primary users'] and #[span.brand-primary business'] needs.
            a(href='info').btn Check who we are

        .content.index-expertise.info-large-v-margin
            h3 Humble expertise
            p.s.brand-gray We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

        +expertises

        .content.info-large-v-margin
            h3 Portfolio. No more words.

        -
            cases = [
                {
                    link: 'case-google-bank',
                    preview_folder: 'google-bank',
                    tag: 'Mobile app',
                    title: 'Google bank concept &mdash; mobile banking for&nbsp;21st century'
                }, {
                    link: 'case-monitoring',
                    preview_folder: 'monitoring',
                    tag: 'Landing page and web service',
                    title: 'Enterprise monitoring system &mdash; complete redesign of&nbsp;the SaaS product'
                }, {
                    link: 'case-expenses',
                    preview_folder: 'expenses',
                    tag: 'Landing page',
                    title: 'Expense tracker in&nbsp;your pocket'
                }, {
                    link: 'case-boule',
                    preview_folder: 'boule',
                    tag: 'Web service',
                    title: 'Boule &mdash; blockchain voting system'
                }, {
                    link: 'case-misterporter',
                    preview_folder: 'misterporter',
                    tag: 'Web service',
                    title: 'Web service for&nbsp;automating Airbnb business'
                }, {
                    link: 'case-oxygen',
                    preview_folder: 'oxygen',
                    tag: 'Mobile app',
                    title: 'Mobile bank for&nbsp;millennials'
                }
            ]

        +portfolio(cases)