extends layout

include mixins/expertises

block vars
    - var page = 'info'

block content
    .page-wrap
        .flex-wrapper.initial-content-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content(class=effectClass)
                h1 We create products that not only #[span.brand-primary work] but are also #[span.brand-primary nice.]
                p We focus on&nbsp;creating the better experience for&nbsp;everyone. Being a&nbsp;team of&nbsp;big design enthusiasts, we try to&nbsp;explore the design field and experiment every day, however, we never forget the essentials of&nbsp;the design process.

                .row.info-cross
                    img(src='./img/cross.svg', alt='').info-cross__img

                    .info-cross__cross-text
                        .col-xs-4
                            p Useless meetings
                        .col-xs-4
                            p Meniningless discussions
                        .col-xs-4
                            p Complicated processes

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 02
                h6.h6-small Worldwide recognition
            .content
                h1(class=effectClass) Achievements & awards
                p We are known to&nbsp;these entities! Worldwide know digital design awards &mdash; more than 60 of&nbsp;them we got for&nbsp;last 3 years.

                .info-awards
                    each award, index in [['CSSDesignAwards', 'Interface design<br>2015, 2016, 2017'], ['Webby', 'Web design, 2016'], ['Awwwards', 'Web design, 2016, 2017'], ['SilverMercury', 'Interface design, 2017'], ['WhiteSquare', 'Web design, 2017'], ['Reddot', 'Brand identity, 2017']]
                        .info-awards__item(class=effectClass, data-wow-delay=`${index * effectDelay}s`)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    img(src=`./img/awards/${award[0]}.svg`, alt='').info-awards__item-img

                                .xxs.brand-gray.info-awards__item-text!= award[1]

    .info__dark-block.info-large-v-margin
        .page-wrap
            .flex-wrapper
                .left.hidden-md-down
                    h6.h6-small.left-marker 03
                    h6.h6-small Starting from table scratch
                .content
                    h1(class=effectClass) Humble team

                    .info__team__wrap
                        .info__team__left
                            img(src='./img/info/1.jpg', srcset='./img/info/1@2x.jpg 2x', alt='')
                            img(src='./img/info/4.jpg', srcset='./img/info/4@2x.jpg 2x', alt='')
                            img(src='./img/info/3.jpg', srcset='./img/info/3@2x.jpg 2x', alt='')

                        .info__team__right
                            img(src='./img/info/2.jpg', srcset='./img/info/2@2x.jpg 2x', alt='')
                            img(src='./img/info/5.jpg', srcset='./img/info/5@2x.jpg 2x', alt='')

    .page-wrap
        .content.index-expertise.info-large-v-margin
            h3 Humble expertise
            p.brand-gray We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

        +expertises

        .content.info-worldwide.info-large-v-margin
            h3 Humbleteam worldwide

            .info-worldwide__links-wrap
                each link in [['icon-dribble-blue', 'Dribbble', 'https://dribbble.com/humble_team'], ['icon-behance-blue', 'Behance', 'https://www.behance.net/humbleteam'], ['icon-inst-blue', 'Instagram', 'https://www.instagram.com/humbleteam.agency/'], ['icon-vimeo-blue', 'Vimeo', 'https://vimeo.com/humbleteam'], ['icon-medium-blue', 'Medium', 'https://medium.com/@humbleteam']]
                    a(href=link[2], class=effectClass, data-wow-delay=`${index * effectDelay}s`).info-worldwide__link
                        .info-worldwide__link__img-wrap
                            img(src=`img/icon/${link[0]}.svg`, alt='').info-worldwide__link-img
                        .info-worldwide__link-text!= link[1]