include mixins/head
include mixins/header
include mixins/burger
include mixins/img-popup
include mixins/footer
include mixins/lets-do

-
    var effectClass = 'js-wow fadeInUpMy'
    var effectDelay = .2

block vars
    -
        var attributes = {}
        var page = ''
        var darkHeader = false

doctype html
html(lang='en')&attributes(attributes)
    block head
        +head('Humbleteam — digital agency')

    body
        block header
            +header(page, darkHeader)

        block header-mob
            +burger(page)

        block img-popup
            +img-popup

        block content

        block footer
            +footer