extends layout

include mixins/portfolio

block vars
    - var page = 'sneak'

block content
    .page-wrap.initial-content-margin
        h1.h1-centered Just #[span.brand-primary sneak peeks] and work in&nbsp;progress shots

        .short-portfolio__tiles-b(class=effectClass)
            - for (var x = 1; x <= 36; x++)
                .short-portfolio__tile
                    img(src=`img/shots/${x}.jpg`, alt='').short-portfolio__tile-img