extends layout

block vars
    - var attributes = { 'class': 'white-bg' }

block content
    .page-wrap
        .content(style='margin-top: 300px;')
            h1 We create products that work. And are nice.
            h2 We create products that work. And are nice.
            h3 We create products that work. And are nice.
            h4 We create products that work. And are nice.
            h5 We create products that work. And are nice.
            h6 Examples
            h6.h6-small Naming formula

            br
            br
            br
            h2 We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs
            p Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.

            br
            br
            br
            h3 Syncing your work
            p We use Google drive to&nbsp;sync our projects. When starting to&nbsp;work on&nbsp;a project, you are going to&nbsp;receive access to&nbsp;a project's google drive folder. If not &mdash; please reach out your project manager.
            p Set up automatic sync and have the project synced at&nbsp;all times. We don't use any other cloud storage system.

            ul
                li Preview in&nbsp;browser
                li Sketch mate
                li Sketch measure
                li Random size
                li Pixel Perfecter

            ul
                li.with-link Sketch runner<br>#[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            ul
                li.with-link Invision Craft<br>#[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            ul
                li.with-link #[a(href='http://sketchrunner.com').small-link http://sketchrunner.com]

            a(href='https://en.bem.info/methodology/naming-convention').small-link https://en.bem.info/methodology/naming-convention.

            .full-width-wrap
                img(src='./img/blogpost/naming-formula.png', srcset='./img/blogpost/naming-formula@2x.png 2x', alt='')

            .small-content
                .s.brand-gray .s We're not saying we only work in&nbsp;these areas, but there's a good reason we chose to&nbsp;put them here.

                .simple-row
                    .grid-cell-50
                        .xs-small-line-height.brand-gray .xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                    .grid-cell-50
                        .xs.brand-gray .xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.
                    .grid-cell-50
                        .xs-small-line-height.brand-gray .xs-small-line-height We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                    .grid-cell-50
                        .xs.brand-gray .xs We didn't start in&nbsp;a garage, but we can humbly relate to&nbsp;that.

                .xxs.brand-gray .xxs Interface design<br>2015, 2016, 2017




