extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'we-do-page' }
        var page = 'startups'

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h6.h6-small Startups
                h1 We didn't start in&nbsp;a&nbsp;#[span.brand-primary garage,] but we can #[span.brand-primary relate] to&nbsp;that

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/what-we-do/start-up.png', srcset='./img/what-we-do/start-up@2x.png 2x', alt='').blog-post-promo__right__img

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h2 We help deliver ideas quicker and with&nbsp;respect to&nbsp;end users needs
                p Startups are all about restrictions and challenges, and we have faced those conditions more than once or&nbsp;twice. Whether you're preparing for&nbsp;an investment pitch or&nbsp;iterating the existing product, we can support your team and provide the needed design assistance.

        .wedo-wide-img.info-large-v-margin
            img(src='./img/what-we-do/wedo-img-1.png', alt='').wedo-wide-img__img

        .flex-wrapper.wedo-after-img__blue-tile-wrap
            .left.hidden-md-down
            .content
                .wedo-after-img__blue-tile
                    .wedo-after-img__blue-tile__top
                        .header__links-lessons__text-1._white-lesson humbleteam.#[span how]

                    h5 We don't think we could achieve any conceivable results without sticking to&nbsp;the design process.
                    a(href='blog-design').xs.wedo-after-img__blue-tile__link Check how we do design

        .flex-wrapper.wedo-after-img
            .left.hidden-md-down

            .content._flex
                .wedo-after-img__left
                    p The capitalization of&nbsp;startups we worked with&nbsp;just exceed #[span._bold $72,000,000] And it's growing by&nbsp;the day.
                    .xs.brand-gray We did a lot of&nbsp;start ups 🤓. Actually, it's likely that we already have a half of&nbsp;your UX done

                .wedo-after-img__right
                    .wedo-after-img__right-text
                        p We do design and develop. Also we can take care of&nbsp;product management and planning.

                p.wedo-after-img__wide-text We could help you isolate the MVP and trim the budget by&nbsp;leaving the most core function of&nbsp;the product for&nbsp;the first release. Or&nbsp;go guns blazing and create a market heavyweight.

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 05
                h6.h6-small Social proof
            .content
                h2 Our products were mentioned in&nbsp;some good medias from&nbsp;time to&nbsp;time

                .info-awards
                    each award, index in ['venturebeat', 'bloomberg', 'tnw', 'entrepreneur', 'business-insider', 'TechCrunch', 'WashingtonPost', 'google-developers', 'ieee']
                        .info-awards__item(data-wow-delay=`${index * effectDelay}s`, class=effectClass)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    if index === 4
                                        img(src=`./img/press/${award}.png`, srcset=`./img/press/${award}@2x.png 2x`, alt='').info-awards__item-img
                                    else
                                        img(src=`./img/press/${award}.svg`, alt='').info-awards__item-img

    .wedo-lets-do.info-large-v-margin
        .page-wrap
            +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: '',
                preview_folder: 'google-bank',
                tag: 'Mobile application',
                title: 'Google bank concept &mdash; banking how it should look like'
            }, {
                link: '',
                preview_folder: 'expenses',
                tag: 'Promo website',
                title: 'Boule &mdash; cryptocurrency exchange platform'
            }
        ]

    br
    .page-wrap
        +portfolio(cases)