extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'we-do-page' }
        var page = 'automotive'

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h6.h6-small Automotive
                h1 #[span.brand-primary Carefully] handling user's attention. Because #[span.brand-primary safety] is not boring.

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/what-we-do/automotive.png', srcset='./img/what-we-do/automotive@2x.png 2x', alt='').blog-post-promo__right__img

    //-
        .wedo-promo.js-first-screen
            .wedo-promo__content
                .wedo-promo__right
                    img(src='./img/what-we-do/automotive.png', srcset='./img/what-we-do/automotive@2x.png 2x', alt='').wedo-promo__right__img

                .wedo-promo__left
                    h6.h6-small Automotive
                    h1 #[span.brand-primary Carefully] handling user's attention. Because #[span.brand-primary safety] is not boring.

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h2 We did usability tests with&nbsp;drivers, so we already know what works
                p And we don't waste time on&nbsp;something that doesn't. Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.
                p We've accumulated this knowledge in&nbsp;many ways: we've designed many application screens, we've driven many miles in&nbsp;various types of&nbsp;cars, we've explored users' behaviour inside and outside of&nbsp;the car. In other words, we know what to&nbsp;do.

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 02
                h6.h6-small Safety first
            .content
                h2 We know and follow the U.S. and European automotive legislations
                p Knowledge is vital for&nbsp;automotive projects. Knowledge allows us to&nbsp;avoid mistakes that could result in&nbsp;safety threats for&nbsp;the future users of&nbsp;your products.

        //br
        //br
        //.row.row-wide__3-items
        //    - for&nbsp;(var x = 1; x <= 6; x++)
        //        .row-wide__3-items__item
        //            br

    .wedo-lets-do.info-large-v-margin
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
            {
                link: '',
                preview_folder: 'google-bank',
                tag: 'Mobile application',
                title: 'Google bank concept &mdash; banking how it should look like'
            }, {
                link: '',
                preview_folder: 'expenses',
                tag: 'Promo website',
                title: 'Boule &mdash; cryptocurrency exchange platform'
            }
        ]

    br
    .page-wrap
        +portfolio(cases)