extends layout

include mixins/portfolio

block vars
    -
        var attributes = { 'class': 'we-do-page' }
        var page = 'fintech'

block content
    .blog-post-promo.js-first-screen
        .blog-post-promo__text-wrap
            .blog-post-promo__left
                h6.h6-small Banks & Fintech
                h1 Nicer&nbsp;#[span.brand-primary tools] work better. And they  #[span.brand-primary earn] more money.

            .blog-post-promo__right

        .blog-post-promo__img-wrap
            .blog-post-promo__left
            .blog-post-promo__right
                img(src='./img/what-we-do/fintech.png', srcset='./img/what-we-do/fintech@2x.png 2x', alt='').blog-post-promo__right__img

    .page-wrap
        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 01
                h6.h6-small Fundamental principles
            .content
                h2 Competitive markets &mdash; our comfort zone. We are ready to&nbsp;help you win customers.
                p Nobody's willing to&nbsp;take risks for&nbsp;nothing, so why should you? We can offer a risk-free design environment for&nbsp;your product, where everybody knows what and how it should be done.

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 02
                h6.h6-small References
            .content
                h2 We worked with&nbsp;some good players on&nbsp;the market

                .info-awards
                    each award, index in ['societe-generale', 'barclays', 'ubs', 'raiffeisen', 'home-credit']
                        .info-awards__item(data-wow-delay=`${index * effectDelay}s`, class=effectClass)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    img(src=`./img/banks/${award}.png`, srcset=`./img/banks/${award}@2x.png 2x`, alt='').info-awards__item-img

        .flex-wrapper.info-large-v-margin
            .left.hidden-md-down
                h6.h6-small.left-marker 03
                h6.h6-small Recognition
            .content
                h2 After years of&nbsp;successful execution, we're recognized as one of&nbsp;the best teams in&nbsp;digital design

                .info-awards
                    each award, index in [['CSSDesignAwards', 'Interface design<br>2015, 2016, 2017'], ['Webby', 'Web design, 2016'], ['Awwwards', 'Web design, 2016, 2017'], ['SilverMercury', 'Interface design, 2017'], ['WhiteSquare', 'Web design, 2017'], ['Reddot', 'Brand identity, 2017']]
                        .info-awards__item(data-wow-delay=`${index * effectDelay}s`, class=effectClass)
                            .info-awards__item-content
                                .info-awards__item-img-wrap
                                    img(src=`./img/awards/${award[0]}.svg`, alt='').info-awards__item-img
                                .xxs.brand-gray.info-awards__item-text!= award[1]

        .info-large-v-margin
            .flex-wrapper
                .left.hidden-md-down
                    h6.h6-small.left-marker 04
                    h6.h6-small Snippets
                .content
                    h2 If you like how these look, follow through and check out how they work
                    p Reading anything in&nbsp;this small paragraph isn’t going to&nbsp;be better than those crispy shots down below :)

            .flex-wrapper
                .info-bank-images
                    .info-bank-images_row
                        img(src='./img/banks-shots/1.jpg', srcset='./img/banks-shots/1@2x.jpg 2x' alt='')
                        img(src='./img/banks-shots/2.jpg', srcset='./img/banks-shots/2@2x.jpg 2x' alt='')
                    .info-bank-images_row
                        img(src='./img/banks-shots/3.jpg', srcset='./img/banks-shots/3@2x.jpg 2x' alt='')
                        img(src='./img/banks-shots/4.jpg', srcset='./img/banks-shots/4@2x.jpg 2x' alt='')
                        img(src='./img/banks-shots/5.jpg', srcset='./img/banks-shots/5@2x.jpg 2x' alt='')

    .wedo-lets-do.info-large-v-margin
        .page-wrap
            .wedo-lets-do__content
                +lets-do('info@humbleteam.com?subject=Project request&body=Hi Humbleteam,', '', '')

    -
        cases = [
        {
        link: '',
        preview_folder: 'google-bank',
        tag: 'Mobile application',
        title: 'Google bank concept &mdash; banking how it should look like'
        }, {
        link: '',
        preview_folder: 'expenses',
        tag: 'Promo website',
        title: 'Boule &mdash; cryptocurrency exchange platform'
        }
        ]

    br
    .page-wrap
        +portfolio(cases)