mixin burger(page)
    .burger-overlay

    #burger-content
        .header__wrapper
            img#burger-close(src='./img/icon/close_dark-desktop.svg', alt='')

        -
            var indexClass = ''
            var casesClass = ''
            var infoClass = ''
            var contactsClass = ''
            var blogClass = ''

            var sneakClass = ''
            var startupsClass = ''
            var fintechClass = ''
            var automotiveClass = ''

        if page === 'index'
            - indexClass = 'current'

        else if page === 'cases'
            - casesClass = 'current'

        else if page === 'info'
            - infoClass = 'current'

        else if page === 'contacts'
            - contactsClass = 'current'

        else if page === 'blog'
            - blogClass = 'current'

        else if page === 'sneak'
            - sneakClass = 'current'

        else if page === 'startups'
            - startupsClass = 'current'

        else if page === 'fintech'
            - fintechClass = 'current'

        else if page === 'automotive'
            - automotiveClass = 'current'

        .burger-content__wrapper
            nav
                li.burger-link-item
                    .burger-link-index 01
                    a(href='index', class=indexClass).burger-link Home

                li.burger-link-item
                    .burger-link-index 02
                    a(href='cases', class=casesClass).burger-link Portfolio
                    .burger-link__submenu
                        a(href='short-portfolio', class=sneakClass).burger-link__submenu-item Quick sneak peeks

                li.burger-link-item
                    .burger-link-index 03
                    a(href='info', class=infoClass).burger-link What we do
                    .burger-link__submenu
                        a(href='we-do-startups', class=startupsClass).burger-link__submenu-item Start ups
                        a(href='we-do-fintech', class=fintechClass).burger-link__submenu-item Fintech
                        a(href='we-do-automotive', class=automotiveClass).burger-link__submenu-item Automotive

                li.burger-link-item
                    .burger-link-index 04
                    a(href='contacts', class=contactsClass).burger-link Contact us

                li.burger-link-item
                    .burger-link-index 05
                    a(href='blog', class=blogClass).burger-link Know hows

            .burger__socials
                each link in [['icon-dribble', 'Dribbble', 'https://dribbble.com/humble_team'], ['icon-inst', 'Instagram', 'https://www.instagram.com/humbleteam.agency/'], ['icon-behance', 'Behance', 'https://www.behance.net/humbleteam']]
                    a(href!=link[2]).info-worldwide__link
                        .info-worldwide__link__img-wrap
                            img(src=`img/icon/${link[0]}.svg`, alt='').info-worldwide__link-img
                            img(src=`img/icon/${link[0]}-blue.svg`, alt='').info-worldwide__link-img-blue

                a(href='mailto:info@humbleteam.com?subject=Project request&body=Hi Humbleteam,').s.burger__socials__mail info@humbleteam.com