mixin expertises()
    -
        expertises = [
            {
                link: 'we-do-startups',
                title: 'Startups',
                text: 'We didn&#39;t start in&nbsp;a&nbsp;garage, but we can humbly relate to&nbsp;that.'
            }, {
                link: 'we-do-fintech',
                title: 'Fintech',
                text: 'Nicer tools work better. And they earn more money.'
            }, {
                link: 'we-do-automotive',
                title: 'Automotive',
                text: 'Carefully handling user\'s attention. Because safety is not boring.'
            }
        ]

    .row.index-expertise__tiles
        each expertise, index in expertises
            .index-expertise__tile-wrap(data-wow-delay=`${index * effectDelay}s`, class=effectClass)
                a(href=expertise.link).index-expertise__tile
                    img(src=`img/what-we-do/what-we-do-${index + 1}.png` srcset=`img/what-we-do/what-we-do-${index + 1}@2x.png 2x`, alt='').index-expertise__tile-img

                    .index-expertise__tile-content
                        h4!= expertise.title
                        .xs-small-line-height.brand-gray!= expertise.text