mixin footer(data)
    #footer.info-large-v-margin
        .footer-content
            .row
                .footer-logo-wrap
                    a(href='index.html')
                        img(src='./img/logo-footer.svg', alt='').footer-logo

                .footer-info-b
                    a(href='mailto:info@humbleteam.com?subject=Project request&body=Hi Humbleteam,').footer-text info@humbleteam.com
                    .footer-text +420 776 828 895

                .footer-info-b
                    a(href='https://www.google.cz/maps/place/Rybn%C3%A1+716%2F24,+110+00+Praha+1-Star%C3%A9+M%C4%9Bsto/data=!4m2!3m1!1s0x470b94ea0da96c41:0xd926809755e5bf9a?sa=X&ved=0ahUKEwiCkLCaxaDbAhUlCcAKHVulCtkQ8gEIKDAA', target='_blank').footer-text Czech Republic, Rybna 716/24<br>Prague Old Town

                .footer__links-wrap
                    each link in [['icon-dribble', 'Dribbble', 'https://dribbble.com/humble_team'], ['icon-behance', 'Behance', 'https://www.behance.net/humbleteam'], ['icon-inst', 'Instagram', 'https://www.instagram.com/humbleteam.agency/'], ['icon-vimeo', 'Vimeo', 'https://vimeo.com/humbleteam'], ['icon-medium', 'Medium', 'https://medium.com/@humbleteam']]
                        a(href!= link[2]).footer__link
                            .footer__link__img-wrap
                                img(src=`img/icon/${link[0]}.svg`, alt='').footer__link-img
                                img(src=`img/icon/${link[0]}-blue.svg`, alt='').footer__link-img-blue

                            .footer__link-text!= link[1]