mixin head(title)
    head
        title #{title}
        meta(charset='utf-8')

        meta(name='description' content=title)
        meta(name='author' content='Humbleteam')
        meta(name='viewport' content='width=device-width, initial-scale=1,  maximum-scale=1')

        link(rel='apple-touch-icon' sizes='180x180' href='img/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='img/favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='img/favicons/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')

        meta(property='og:title' content=title)
        meta(property='og:description' content='We are humbleteam. We create digital products at&nbsp;the intersection of&nbsp;users and business needs.')
        meta(property='og:image:height' content='630')
        meta(property='og:image:width' content='1200')
        meta(property='og:image' content='https://humbleteam.com/img/open-graph/social-image.jpg')

        meta(name='theme-color' content='#ffffff')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        //script(type='text/javascript', src='js/nbsp.js')
        script(type='text/javascript', src='js/main.js')
        script(type='text/javascript', src='js/ga.js')

        link(rel='stylesheet' href='fonts/tttravel/stylesheet.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i')
        link(rel='stylesheet' href='css/styles.css')

        script(type='text/javascript', src='js/heap.js')
