mixin header(page, dark)
    nav#header.header(class= dark ? 'header_dark' : '')
        .header__wrapper
            a(href='index')
                .header__logo

            .burger._mobile-burger
                img(src='img/icon/burger_dark.svg', alt='').burger-img__dark
                img(src='img/icon/burger_white.svg', alt='').burger-img__white

            .burger._desktop-burger
                img(src='img/icon/burger_dark-desktop.svg', alt='').burger-img__dark
                img(src='img/icon/burger_white-desktop.svg', alt='').burger-img__white