mixin img-popup()
    #img-popup
        img#img-popup-close(src='./img/icon/close_black.svg', alt='')

        .img-popup__img-wrap.js-img-popup-img-wrap
            img(alt='').img-popup__img.js-img-popup-img