mixin lets-do(mail, mailText, text)
    .wedo-lets-do__content
        if text
            h2!= text
        else
            h2 Lets do something cool together

        if mailText
            a(href=`mailto:${mail}`).wedo-lets-do__link!= mailText
        else
            a(href=`mailto:${mail}`).wedo-lets-do__link info@humbleteam.com