mixin portfolio(data)
    .row.index-portfolio__tiles-b
        each item, index in cases
            a(href!=item.link, data-wow-delay=`${index * effectDelay}s`, class=effectClass).index-portfolio__tile
                img(src=`img/cases-new/${item.preview_folder}/preview.jpg` srcset=`img/cases-new/${item.preview_folder}/preview@2x.jpg 2x`, alt='').index-portfolio__tile-img
                h6.h6-small.brand-gray!= item.tag
                h5!= item.title