.blog-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 115px;
  margin-bottom: -72px;
}

.blog-item {
  width: 100%;
  margin-bottom: 72px;

  @include media-breakpoint-up(xs-2) {
    width: calc(50% - 30px);
    margin-right: 60px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  h4 {
    margin-top: 33px;
    margin-bottom: 0;
    font-size: 26px;
    text-decoration: underline;
    color: $brand-dark-new;
  }

  .s {
    margin-top: 5px;
  }

  &:hover {
    .brand-primary {
      color: $link-hover-color !important;
    }
  }
}

a.blog-item {
  &:hover {
    h4 {
      text-decoration: none;
    }
  }
}

.blog-item__top {
  overflow: hidden;
  background-color: $brand-grey-30;

  &._with-bottom-padding {
    padding-bottom: 45px;
  }
}

.blog-item__top__img-text-wrap {
  display: flex;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 50px;
  margin-left: 53px;
  margin-right: 50px;

  &._type-2 {
    margin-top: 37px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: 0;
    font-size: 26px;
    color: $brand-dark;
    text-decoration: none;
  }

  p {
    font-weight: 300;
  }
}

.blog-item__top__img-circle {
  width: 68px;
  height: 68px;
  display: flex;
  margin-right: 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $brand-dark;
  border-radius: 50%;

  .blog-item__top__img {
    margin-right: 0;
  }
}

.blog-item__main__img {
  max-width: 100%;
  width: 100%;
}

.blog-item__top__img {
  margin-right: 23px;
  flex-shrink: 0;
  flex-grow: 0;
}

.blog-item__top__link {
  font-family: $headings-font-family;
  font-size: 20px;
  font-weight: 600;
  color: $brand-dark;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.blog-item__top__link-wrap {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;

  .s {
    margin-top: 0;
  }
}