.blog-post-page {
  body {
    color: $brand-dark-new;
  }
}

.blog-large-v-margin {
  margin-top: 140px;

  @include media-breakpoint-down(sm) {
    margin-top: 140px;
  }
}

.content-800-blog {
  margin: 182px auto 0;
}

.blog-post-promo {
  position: relative;
  margin-top: 160px;

  @include media-breakpoint-up(sm) {
    h1 {
      font-size: 48px;
    }
  }

  @include media-breakpoint-up(md) {
    height: 100vh;
    margin-top: 0;

    h1 {
      padding-right: 100px;
    }
  }
}

.blog-post-promo__text-wrap {
  position: relative;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  //background-color: pink;
  z-index: 10;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.blog-post-promo__img-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  z-index: 1;

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    margin-top: 0;
  }

  .blog-post-promo__right {
    background-color: #F6F6F6;
    padding: 10% 8%;
    box-sizing: border-box;
  }
}

.blog-post-promo__left {
  position: relative;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 41.786%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8vw;
  }
}

.blog-post-promo__right {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(md) {
    width: 58.214%;
  }
}

.blog-post-promo__right__img {
  width: 100%;
  max-width: 480px;
  //max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}