.case-promo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;

  @include media-breakpoint-up(xs) {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cases-page {
  .wedo-promo {
    //min-height: 50vh;
    //height: auto;
    height: 100vh;
    max-height: 702px;
    margin-top: 0;
    padding-bottom: 0;
    background-color: #020027;

    @include media-breakpoint-up(xs) {
      background-color: transparent;
    }

    @include media-breakpoint-up(sm) {
      height: 100vh;
      max-height: 1000px;
    }

    h1 {
      margin-top: 14px;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        font-size: calc(31 / 18 * 1rem);
      }
    }

    h6 {
      display: block;
    }
  }

  .wedo-promo__content {
    position: relative;
    display: block;
    margin-top: 0;
    padding: 0;
    color: #fff;

    //@include media-breakpoint-up(sm) {
    @include media-breakpoint-up(xs) {
      display: flex;
      flex-direction: row;
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  .wedo-promo__left {
    position: absolute;
    bottom: 48px;
    left: 24px;
    right: 24px;
    width: auto;
    z-index: 10;
    //padding-left: 8%;
    padding: 0;
    box-sizing: border-box;

    //@include media-breakpoint-up(sm) {
    @include media-breakpoint-up(xs) {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: 100%;
      padding-top: 120px;
      padding-bottom: 60px;
    }
  }

  .wedo-promo__right {
    width: 100%;
    height: 100%;
    z-index: 1;

    //@include media-breakpoint-up(sm) {
    @include media-breakpoint-up(xs) {
      position: absolute;
      top: 0;
      right: 0;
      //height: 100%;
    }
  }

  .wedo-promo__right__img {
    //max-width: 100%;
    //height: auto;
    display: none;
    object-fit: cover;

    @include media-breakpoint-up(xs) {
      display: block;
    }
  }

  .wedo-promo__right__img-mobile {
    //max-width: 100%;
    height: auto;
    width: 100%;
    //height: 100%;
    display: block;
    //object-fit: cover;
    object-fit: unset;

    @include media-breakpoint-up(xs) {
      display: none;
      height: auto;
    }
  }

  #footer {
    margin-top: 92px;
    border-top: none;
  }
}

.img-wrap-1420 {
  width: 100%;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-wrap-1420.info-large-v-margin + .img-wrap-1420.info-large-v-margin {
  margin-top: 64px;
}

.img-wrap-1680 {
  width: 100%;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

.cases-portfolio-wrap {
  background-color: $brand-grey-30;

  .page-wrap {
    background-color: $brand-grey-30;
  }
}