.contacts-page {
  h1 {
    margin-bottom: 37px;
  }

  #footer {
    margin-top: 0;
  }
}

.contacts-content-wrap {
  position: relative;
  height: 100vh;
  //height: 1009px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 120px 0;
  box-sizing: border-box;

  @include media-breakpoint-up(xs) {
    padding: 80px 0;
  }
}

.contacts-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: pink;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-image: url("../img/map.svg");
  transform: translateX(150px) translateY(100px);
  z-index: 1;
}

.contacts-content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
  transform: translateY(15px);

  @include media-breakpoint-up(sm) {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  @include media-breakpoint-up(md) {
    padding-left: calc((100vw - 820px) / 2);
    padding-right: calc((100vw - 820px) / 2);
  }
}

.contacts-text {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}