#footer {
  position: relative;
  min-height: 393px;
  overflow: hidden;
  //margin-top: 212px;
  background-color: #fff;
  color: $brand-grey-new;

  .row {
    position: relative;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.footer-content {
  position: relative;
  max-width: 1680px;
  margin: 62px auto 0;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 65px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-logo-wrap {
  position: relative;
  top: 2px;
  width: 150px;
  margin-right: 47px;

  @include media-breakpoint-down(md) {
    margin-right: 29px;
  }
}

.footer-logo {
  position: relative;
  top: 0;
  width: 132px;
  display: block;
}

.footer-info-b {
  width: 220px;
  margin-right: 11px;

  a:hover {
    color: $brand-primary;
  }

  @include media-breakpoint-down(md) {
    width: 190px;
  }

  @include media-breakpoint-down(sm) {
    width: 240px;
    margin-top: 35px;
  }

  @include media-breakpoint-down(xxs-3) {
    width: 190px;
  }

  @include media-breakpoint-down(xxs-2) {
    width: 155px;
  }

  a {
    display: inline-block;
    vertical-align: text-top;
  }

  a + .footer-text {
    top: -2px;
  }
}

.footer-text {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  color: $brand-grey-new;
}

.footer__links-wrap {
  position: absolute;
  top: 4px;
  right: 0;
  width: 100px;
}

.footer__link {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  color: $brand-grey-new;
  font-size: 15px;
  font-weight: 300;

  &:hover {
    color: $brand-primary;

    .footer__link-img {
      display: none;
    }

    .footer__link-img-blue {
      display: block;
    }
  }
}

.footer__link__img-wrap {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer__link-img,
.footer__link-img-blue {
  position: relative;
  top: 50%;
  max-width: 100%;
  display: block;
  transform: translateY(-50%);
}

.footer__link-img-blue {
  display: none;
}
