html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: $brand-grey-30;
}

.page-wrap {
  max-width: 1680px;
  margin: 0 auto;
  padding-top: 1px;
  padding-left: 8%;
  padding-right: 8%;
  //box-sizing: border-box;
  //background-color: lightgreen;
  background-color: $brand-grey-30;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .left {
    //background-color: lightcoral;
    width: 306px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .left-marker {
    margin-top: 3px;
    margin-bottom: 3px;
    color: $brand-primary;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 5px;
      background-color: $brand-primary;
    }
  }

  .content {
    //background-color: lightgoldenrodyellow;
    max-width: 750px;

    &._big {
      max-width: 820px;
    }

    &._flex {
      display: flex;
      flex-wrap: wrap;
    }

    /*h2 {
      @include media-breakpoint-down(md) {
        font-size: 30px;
      }
    }*/
  }
}

.brand-primary {
  color: $brand-primary !important;
}

.inner-content {
  max-width: 1180px;
  margin: 0 auto;
  //padding-top: 270px;

  h1 {
    max-width: 900px;
  }
}

.white-bg {
  body,
  .page-wrap {
    background-color: #fff;
  }

  .header {
    &._always-dark {
      background-color: #fff !important;
    }
  }

  #footer {
    border-top: 1px solid #E5E8EC;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  margin-bottom: -32px;

  &.align-items-center {
    align-items: center;
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }

  .flex-cell {
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px;

    @include media-breakpoint-up(sm) {
      width: calc(50% - 16px);
      margin-right: 32px;

      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.flex-row {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;

  img {
    height: 400px;
    margin-right: 32px;

    @include media-breakpoint-down(sm) {
      height: 320px;
    }
  }
}

.content-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-right: 50px;
  //background-color: pink

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.max-width-400 {
  max-width: 800px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  box-sizing: border-box;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-up(sm) {
    max-width: 400px;
    //margin-left: 0;
    //margin-right: 0;
  }
}

@keyframes fadeInUpMy {
  from {
    opacity: 0;
    //transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 80px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpMy {
  animation-name: fadeInUpMy;
  //animation-duration: 1s;
  //animation-timing-function: ease-out;
  //animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);  // easeOutQuint
  //animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);  // easeOutCirc
  //animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);  // easeOutCubic
}

.initial-content-margin {
  margin-top: 290px;

  @include media-breakpoint-down(sm) {
    margin-top: 152px;
  }
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}