.header {
  width: 100%;
  //position: absolute;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 78px;
  //padding-top: 20px;
  padding-top: 29px;
  background-color: transparent;
  pointer-events: none;

  .header__wrapper {
    * {
      pointer-events: auto;
    }
  }

  @include media-breakpoint-up(sm) {
    height: 98px;
    //padding-top: 29px;
    padding-top: 33px;
  }

  .header__wrapper {
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .header__logo {
    position: relative;
    height: 40px;
    width: 138px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-image: url("../img/logo-standart.svg");
    //transition: background $resize_tr;

    @include media-breakpoint-down(sm) {
      top: 4px;
    }
  }

  .header__links {
    position: relative;
    font-size: 15px;
    letter-spacing: -0.05px;

    a {
      font-weight: 400;
      color: $brand-dark;
      //transition: color $resize_tr;

      &.current {
        color: $brand-primary;
        cursor: default;
        pointer-events: none
      }

      &:not(:last-of-type) {
        margin-right: 45px;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  &.header_grey {
    background-color: $brand-grey-30;
  }

  &.header_white {
    background-color: white;
  }

  &.header_dark {
    background: none;

    .header__logo {
      background-image: url("../img/logo-white.svg");
    }

    a {
      color: white;
      /*&:hover {
        color: rgba(white, 0.65);
      }*/
    }

    .header__links-dot {
      background-color: #fff;
    }

    .header__links__lessons-svg-dark {
      display: none;
    }

    .header__links__lessons-svg-white {
      display: block;
    }

    .header__links-lessons__text-2 {
      color: rgba(#fff, .5);
    }

    .burger-img__dark {
      opacity: 0;
    }

    .burger-img__white {
      opacity: 1;
    }
  }

  &._always-dark {
    background-color: $brand-grey-30;
    border-bottom: 1px solid rgba($brand-grey-40, 1.0);

    .header__logo {
      background-image: url("../img/logo-standart.svg");
    }

    a {
      color: rgba($brand-dark, 1.0);
    }

    .header__links-dot {
      background-color: $brand-dark;
    }

    .header__links-lessons__text-2 {
      color: rgba(#000, .5);
    }

    .header__links__lessons-svg-dark {
      display: block !important;
    }

    .header__links__lessons-svg-white {
      display: none !important;
    }

    .burger-img__dark {
      opacity: 1;
    }

    .burger-img__white {
      opacity: 0;
    }
  }

  &.header_fixed {
    position: fixed;
    z-index: 1000;
  }

  .header__links-dot {
    position: relative;
    top: -2px;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 50px;
    background-color: $brand-dark;
    //transition: background-color $resize_tr;
  }

  .header__links__lessons-b {
    display: inline-block;
    vertical-align: middle;
  }

  .header__links__lessons-svg-dark,
  .header__links__lessons-svg-white {
    display: block;
    position: relative;
    top: 3px;
  }

  .header__links__lessons-svg-white {
    display: none;
  }

  .header__links-lessons__text-2 {
    position: relative;
    top: 4px;
    color: rgba(#000, .5);
    font-weight: 300;
    font-size: 12px;
    //transition: color $resize_tr;
  }
}

.header__links-lessons__text-1 {
  color: $brand-dark;
  font-weight: 700;
  font-size: 17px;
  //transition: color $resize_tr;

  span {
    color: $brand-primary;
    //transition: color $resize_tr;
  }

  &._white-lesson {
    span {
      color: #fff;
    }
  }
}

#header-scrollable {
  position: fixed;
  z-index: 1000;
  display: none;
}

.burger {
  position: relative;
  cursor: pointer;

  &._mobile-burger {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &._desktop-burger {
    top: 1px;
    right: -4px;
    display: block;

    &:before {
      content: '';
      position: absolute;
      top: -26px;
      left: -46px;
      width: 56px;
      height: 56px;
      z-index: 0;
      //background-color: pink;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    img {
      position: absolute;
      right: 0px;
      bottom: -19px;
      pointer-events: none;
    }
  }
}

.burger-img__white {
  opacity: 0;
  /*position: absolute;
  bottom: 3px;
  left: 0;
  pointer-events: none;*/
}

.burger-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.68);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

#burger-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  max-width: 738px;
  overflow: hidden;
  z-index: 9999;
  background-color: rgba(#fff, 1.0) ;
  opacity: 0;
  transform: translateX(100%);
  transition: transform .35s, opacity 0s .35s;
  pointer-events: none;

  @include media-breakpoint-down(sm) {
    max-width: inherit
  }

  .burger-content__wrapper {
    margin-top: -17px;
    //margin-left: 133px;
    margin-left: 82px;
    display: flex;
    align-items: center;
    //align-items: flex-start;
    height: 100%;

    @include media-breakpoint-down(sm) {
      //margin-left: 60px;
      margin-left: 18px;
    }
  }

  h1 {
    margin-bottom: 2.85rem;
  }

  nav {
    //margin-top: 100px;
    //margin-top: 166px;

    a {
      display: block;
      color: $brand-dark-new;

      &.current {
        color: $brand-grey-new;
        pointer-events: none
      }

      //.s {
      //  line-height: 18px;
      //}
    }
  }
}

._burger {
  //overflow: hidden;

  body {
    height: 100vh;
    overflow: hidden;
  }

  //.burger {
    //display: none;
  //}

  .burger-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  #burger-content {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: transform .35s, opacity 0s;
  }

  .burger-link,
  .burger-link-index {
    transform: translateY(0);
  }

  .burger-link__submenu {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger-link-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 34px;
  list-style-type: none;

  &:nth-last-of-type(1) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .1s;
    }

    .burger-link__submenu {
      transition: transform .4s .1s, opacity .4s .1s;
    }
  }

  &:nth-last-of-type(2) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .15s;
    }

    .burger-link__submenu {
      transition: transform .4s .15s, opacity .4s .15s;
    }
  }

  &:nth-last-of-type(3) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .2s;
    }

    .burger-link__submenu {
      transition: transform .4s .2s, opacity .4s .2s;
    }
  }

  &:nth-last-of-type(4) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .25s;
    }

    .burger-link__submenu {
      transition: transform .4s .25s, opacity .4s .25s;
    }
  }

  &:nth-last-of-type(5) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .3s;
    }

    .burger-link__submenu {
      transition: transform .4s .3s, opacity .4s .3s;
    }
  }

  &:nth-last-of-type(6) {
    .burger-link,
    .burger-link-index {
      transition: transform .4s .35s;
    }

    .burger-link__submenu {
      transition: transform .4s .35s, opacity .4s .35s;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 42px;
  }
}

.burger-link-index {
  position: absolute;
  top: 29px;
  //left: -51px;
  left: 0;
  width: 23px;
  color: $brand-grey-new;
  font-family: $headings-font-family;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.04px;
  text-align: right;
  transform: translateY(-150%);

  @include media-breakpoint-down(sm) {
    top: 5px;
    //left: -44px;
    left: 0;
  }
}

.burger-link {
  margin-left: 51px;
  font-family: $headings-font-family;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: -0.75px;
  transform: translateY(-100%);

  @include media-breakpoint-up(md-2) {
    &:hover {
      color: $brand-primary !important;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: 42px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.7px;
  }
}

.burger-link__submenu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  margin-left: 54px;
  opacity: 0;
  transform: translateY(-200%);

  @include media-breakpoint-down(sm) {
    margin-top: 12px;
    margin-left: 42px;
  }
}

.burger-link__submenu-item {
  margin-right: 24px;
  margin-bottom: 5px;
  color: $brand-dark-new;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;

  &:last-of-type {
    margin-right: 0;
  }

  &.current {
    color: $brand-grey-new;
    pointer-events: none
  }

  @include media-breakpoint-up(md-2) {
    &:hover {
      color: $brand-primary !important;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 2px;
  }
}

.burger__socials {
  position: absolute;
  right: 28px;
  left: 139px;
  bottom: 41px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //background-color: pink;

  @include media-breakpoint-down(sm) {
    left: 60px;
    bottom: 34px;
  }

  .info-worldwide__link {
    width: auto;
    margin-right: 41px;
    margin-bottom: 0;

    @include media-breakpoint-up(md-2) {
      &:hover {
        .info-worldwide__link-img {
          display: none;
        }

        .info-worldwide__link-img-blue {
          display: block;
        }
      }
    }
  }

  .info-worldwide__link__img-wrap {
    width: 22px;
    margin-right: 0;
  }

  .burger__socials__mail {
    position: absolute;
    top: -51px;
    left: 0;
    color: $brand-grey-new;
    line-height: 29px;
    font-weight: 500;

    @include media-breakpoint-up(md-2) {
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

#burger-close {
  position: absolute;
  width: 38px;
  top: 34px;
  right: 8vw;
  margin-right: -6px;
  cursor: pointer;

  @include media-breakpoint-down(sm) {
    width: 24px;
    top: 38px;
    right: 24px;
    margin-right: 0;
  }

  @include media-breakpoint-up(xxl) {
    right: 24px;
  }
}