#img-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  background-color: #fff;
  //background-color: pink;
  opacity: 0;
  transition: opacity .35s;
  pointer-events: none;
}

._img-popup {
  overflow: hidden;

  #img-popup {
    opacity: 1;
    pointer-events: auto;
  }
}

#img-popup-close {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 24px;
  cursor: pointer;
  z-index: 10;
}

.img-popup__img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  z-index: 1;
}

.img-popup__img {
  //position: absolute;
  //top: 0;
  //left: 0;
  height: auto;
  max-height: 100%;
}

.js-popup-img {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  @include media-breakpoint-up(xs) {
    cursor: default;
  }
}