.index-promo-slider-b {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: opacity .3s, margin .1s linear
}

.index-promo__slider-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  direction: ltr;
  backface-visibility: hidden;
  z-index: 10;
  transition: opacity .3s, margin $resize_tr
}

.index-promo__slider-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
  z-index: 1;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  will-change: transform;
}

.index-promo__slider-item {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  margin-right: 0;
  background-position: 50% 50%;
}

.index-promo {
  height: 752px;

  @include media-breakpoint-up(md) {
    margin-bottom: 64px;
    height: 90vh;
  }

  .slide {
    display: flex;
    align-items: flex-end;
    width: 100%;
    //background-color: #0e0f47;
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: right center;
    background-position: center center;
    z-index: 5;

    background-image: none;
    background-color: #020027;

    &.slide__google-bank {
      @include media-breakpoint-up(xs) {
        background-image: url("../img/cases-new/google-bank/main.jpg");
        @include retina() {
          background-image: url("../img/cases-new/google-bank/main@2x.jpg");
        }
      }
    }

    &.slide__boule {
      @include media-breakpoint-up(xs) {
        background-image: url("../img/cases-new/boule/main.jpg");
        @include retina() {
          background-image: url("../img/cases-new/boule/main@2x.jpg");
        }
      }
    }

    &.slide__expenses {
      color: white;
      @include media-breakpoint-up(xs) {
        background-image: url("../img/cases-new/expenses/main.jpg");
        @include retina() {
          background-image: url("../img/cases-new/expenses/main@2x.jpg");
        }
      }
    }

    &.slide__misterporter {
      @include media-breakpoint-up(xs) {
        background-image: url("../img/cases-new/misterporter/main.jpg");
        @include retina() {
          background-image: url("../img/cases-new/misterporter/main@2x.jpg");
        }
      }
    }

    &.slide__monitoring {
      color: white;
      @include media-breakpoint-up(xs) {
        background-image: url("../img/cases-new/monitoring/main.jpg");
        @include retina() {
          background-image: url("../img/cases-new/monitoring/main@2x.jpg");
        }
      }
    }

    .slide__content {
      width: 100%;
      max-width: 1680px;
      margin: 0 auto;
      padding-left: 8%;
      padding-right: 8%;
      z-index: 20;
      pointer-events: none;

      @include media-breakpoint-down(sm) {
        padding-left: 24px;
        padding-right: 24px;
      }

      .btn {
        pointer-events: auto;
      }
    }

    .description {
      //margin-bottom: 70px;
      margin-bottom: 76px;
      text-align: left;
      z-index: 10;
      opacity: 0;
      transform: translateY(10px);

      h1, .h1 {
        margin-bottom: -9px;
      }

      p {
        //color: $brand-grey-30;
        line-height: 28px;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(xs) {
        max-width: 500px;

        h1, .h1 {
          margin-bottom: 17px;
        }

        p {
          margin-bottom: 14px;
          font-size: 16px;
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 148px;
        text-align: left;
      }
    }

    $slideEasing: cubic-bezier(0.215, 0.61, 0.355, 1);

    &.swiper-slide-active {
      z-index: 10;

      .description {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1s $slideEasing .7s, opacity .3s linear .7s;
      }
    }
  }

  .slide-cursor-left,
  .slide-cursor-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 15;
    pointer-events: none;
    //margin-top: 200px;

    @include media-breakpoint-up(lg) {
      pointer-events: auto
    }
  }

  .slide-cursor-left {
    left: 0;
    //background-color: rgba(pink, 0.2);
    cursor: url("../img/cursor_ar_l.svg") 35 35, auto !important;
  }

  .slide-cursor-right {
    right: 0;
    //background-color: rgba(orange, 0.2);
    cursor: url("../img/cursor_ar_r.svg") 35 35, auto !important;
  }
}

.index-promo__img-mobile {
  //max-width: 100%;
  //height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  display: block;
  //object-fit: cover;
  z-index: 10;

  @include media-breakpoint-up(xs) {
    display: none;
    height: auto;
  }
}

.index-promo__slider__pagination {
  position: absolute;
  //left: 50%;
  left: 0;
  width: 100%;
  //right: 0;
  bottom: 12px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 20;
  transform: translateZ(0);
  transition: all $resize_tr;

  @include media-breakpoint-up(sm) {
    bottom: 6px;
    width: 100%;
    height: 32px;
  }
}

.swiper-pagination-bullet {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: auto 6px;
  border-radius: 50%;
  background-color: rgba(#000, .12);
  cursor: pointer;
  transition: background-color 0s linear;
  outline: none;
  transform: translateZ(0);
  z-index: 10;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    width: 140%;
    height: 100%;
    background-color: $brand-primary;
    transform: translateY(100%) translateZ(0);
    transition: transform .3s linear;
    z-index: 10;
  }

  &.swiper-pagination-bullet-active {
    background-color: transparent;
    transition: background-color 0s linear .3s;
    cursor: default;
    pointer-events: none;

    &:after {
      transform: translateY(0) translateZ(0);
    }
  }
}

.white_paging {
  .swiper-pagination-bullet {
    background-color: rgba(#fff, .12);
  }
}

.index-expertise {
  h3 {
    margin-bottom: 10px;
  }

  p {
    max-width: 450px;
  }
}

.index-expertise__tiles {
  margin-top: 30px;
  margin-bottom: -32px;
}

.index-expertise__tile-wrap {
  position: relative;
  min-height: 205px;
  margin-bottom: 32px;
  margin-right: 0;
  lost-column: 1/1;

  @include media-breakpoint-up(xs) {
    lost-column: 1/2;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    lost-column: 1/3;

    &:nth-child(2n+2) {
      margin-right: 32px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}

.index-expertise__tile {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transform: translateX(0) translateY(0);

  &:hover {
    @include hover-transtion-and-shadow();
  }

  h4 {
    margin-bottom: 10px;
    color: $brand-dark-new;
  }

  .index-expertise__tile-img {
    position: absolute;
    top: 50%;
    //left: -16px;
    //left: 0;
    left: 4px;
    max-width: 50%;
    max-height: 205px;
    transform: translateY(-50%);
  }
}

.index-expertise__tile-content {
  position: relative;
  width: 46%;
  margin-top: 37px;
  margin-bottom: 37px;
  padding-right: 33px;
  box-sizing: border-box;
}

.index-portfolio__tiles-b {
  margin-top: 43px;
  margin-bottom: -92px;
}

.index-portfolio__tile {
  position: relative;
  margin-bottom: 92px;
  lost-column: 1/1;

  &:hover {
    .index-portfolio__tile-img {
      @include hover-transtion-and-shadow();
    }
  }

  @include media-breakpoint-up(sm) {
    lost-column: 1/2;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  h4, h5 {
    max-width: 440px;
    margin-top: 14px;
    color: $brand-dark-new;
  }
}

.index-portfolio__tile-img {
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 14px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

  @include media-breakpoint-up(sm) {
    margin-bottom: 42px;
  }
}

._hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.index-large-v-margin {
  margin-top: 240px;

  @include media-breakpoint-down(sm) {
    margin-top: 116px;
  }
}