.info-large-v-margin {
  //margin-top: 220px;
  margin-top: 182px;

  @include media-breakpoint-down(sm) {
    margin-top: 116px;
    //margin-top: 152px;
  }
}

.info-cross {
  margin-top: 78px;
  flex-wrap: nowrap;
  align-items: center;

  @include media-breakpoint-down(xs-2) {
    flex-direction: row-reverse;
    margin-top: 55px;
  }
}

.info-cross__img {
  max-width: 108px;

  @include media-breakpoint-down(xs-2) {
    width: 64px;
    margin-left: 24px;
  }
}

.info-cross__cross-text {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 10%;

  @include media-breakpoint-down(xs-2) {
    flex-direction: column;
    margin-left: 0;
  }

  .col-xs-4 {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(xs-2) {
      width: auto;
      max-width: inherit;
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 17px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  p {
    text-decoration: line-through;
    max-width: 100px;
    line-height: 24px;

    @include media-breakpoint-down(xs-2) {
      margin: 0;
    }

    @include media-breakpoint-down(xs-2) {
      max-width: none;
    }
  }
}

.info-awards {
  margin-top: 78px;
  display: flex;
  flex-wrap: wrap;
}

.info-awards__item {
  width: 100%;
  margin-bottom: 37px;

  @include media-breakpoint-up(xxs-2) {
    width: 50%;
  }

  @include media-breakpoint-up(xs) {
    width: 33%;

    &:nth-child(3n+1) {
      .info-awards__item-content {
        align-items: flex-start;
      }
    }
    &:nth-child(3n+3) {
      .info-awards__item-content {
        align-items: flex-end;
      }
    }
  }
}

.info-awards__item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-awards__item-img-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.info-awards__item-img {
  max-width: 160px;
}

.info-awards__item-text {
  min-width: 160px;
  text-align: center;
}

.info__dark-block {
  //height: 900px;
  padding-bottom: 196px;
  background-color: #4e4e4e;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../img/info/team-bg.jpg");
  @include retina() {
    background-image: url("../img/info/team-bg@2x.jpg");
  }

  .page-wrap {
    background-color: transparent;
  }

  .content {
    max-width: inherit;
  }

  .flex-wrapper {
    margin-top: 196px;

    h1 {
      margin-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 83px;

    .flex-wrapper {
      margin-top: 80px;
    }
  }
}

.info-worldwide {
  max-width: 100% !important;
  //margin-top: 180px;
}

.info-worldwide__links-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 39px;
  margin-bottom: -30px;
}

.info-worldwide__link {
  margin-right: 88px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    .info-worldwide__link-text {
      color: $brand-primary;
    }
  }

  @include media-breakpoint-down(xs-2) {
    width: calc(25%);
    margin-right: 0
  }

  @include media-breakpoint-down(xs) {
    width: calc(33%);
  }

  @include media-breakpoint-down(xxs-3) {
    width: calc(50%);
  }
}

.info-worldwide__link__img-wrap {
  width: 28px;
  margin-right: 9px;
}

.info-worldwide__link-img,
.info-worldwide__link-img-blue {
  position: relative;
  width: 100%;
  min-height: 18px;
  display: block;
  margin: auto;
}

.info-worldwide__link-img-blue {
  display: none;
}

.info-worldwide__link-text {
  font-size: 16px;
  font-weight: 300;
  color: $brand-dark-new;
}






//team photos
.info__team__wrap {
  display: flex;
  max-width: 1252px;
  width: calc(100% + 165px);
  margin-left: -17.2%; //-165px;
  margin-top: 52px;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin-left: 0;
    margin-top: 36px;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.info__team__left,
.info__team__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0;

  img {
    margin-bottom: 24px;
  }
}

.info__team__left {
  width: 61.6615%;
  flex-direction: row-reverse;

  img {
    width: auto;
    margin-right: 24px;

    &:nth-of-type(1) {
      width: calc(75.5181% - 24px);
    }

    &:nth-of-type(2) {
      width: calc(55.0518% - 12px);
    }

    &:nth-of-type(3) {
      width: calc(38.7305% - 12px);
    }
  }

  @include media-breakpoint-down(xs-2) {
    img {
      &:nth-of-type(1) {
        width: calc(100% - 24px);
      }

      &:nth-of-type(2) {
        width: calc(54.3% - 12px);
      }
    }
  }

  @include media-breakpoint-down(xs) {
    width: 100%;

    img {
      width: 100% !important;
      margin-right: 0;
    }
  }
}

.info__team__right {
  width: 38.3385%;

  img {
    max-width: 100%;
    width: auto;

    &:nth-of-type(1) {
      width: 86.25%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 100%;

    img {
      width: 100% !important;
    }
  }
}












.info-bank-images {
  margin-top: 78px;

  .info-bank-images_row {
    display: flex;

    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 32px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      img:not(:last-of-type) {
        margin-right: 32px;
      }

      &:nth-child(1) {
        align-items: flex-end;
        img {
          &:nth-child(1) {
            width: calc(800 / 1420 * 100%);
          }
          &:nth-child(2) {
            width: calc(388 / 1420 * 100%);
          }
        }
      }

      &:nth-child(2) {
        align-items: flex-start;
        img {
          max-width: calc((100% - (164 / 1420 * 100%)) / 3);

          &:first-of-type {
            margin-left: calc(164 / 1420 * 100%);
          }
        }
      }
    }
  }
}