.short-portfolio__tiles-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 66px;
  margin-bottom: -40px;

  @include media-breakpoint-up(xs-2) {
    margin-top: 110px;
  }
}

.short-portfolio__tile {
  width: 100%;
  min-width: 280px;
  max-width: 400px;
  margin: 0 0 8px 0;
  background-color: #fff;

  @include media-breakpoint-up(xs) {
    width: calc(50% - 36px);  // 36 = (48 * 3) / 4
    margin: 0 48px 40px 0;

    &:nth-child(2n+2) {
      transform: translateY(36px);
      //margin-top: 36px;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(md-2) {
    width: calc(33.3333333% - 36px);  // 36 = (48 * 3) / 4

    &:nth-child(2n+2) {
      transform: translateY(0);
      //margin-top: 0;
    }

    &:nth-child(3n+2) {
      transform: translateY(36px);
      //margin-top: 36px;
    }

    &:nth-child(2n+2) {
      margin-right: 48px;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(lg-2) {
    width: calc(25% - 36px);  // 36 = (48 * 3) / 4

    &:nth-child(3n+2) {
      transform: translateY(0);
      //margin-top: 0;
    }

    &:nth-child(2n+2) {
      transform: translateY(36px);
      //margin-top: 36px;
    }

    &:nth-child(3n+3) {
      margin-right: 48px;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }
}

.short-portfolio__tile-img {
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  margin: 8px;
}