$font-sizes: (
        font-size-h1: calc(54 / 18 * 1rem),
        font-size-h2: calc(44 / 18 * 1rem),
        font-size-h3: calc(36 / 18 * 1rem),
        font-size-h4: calc(24 / 18 * 1rem),
        font-size-h5: calc(22 / 18 * 1rem),
        font-size-h6: calc(15 / 18 * 1rem)
);

$font-sizes-sm: (
        font-size-h1: calc(38 / 18 * 1rem),
        font-size-h2: calc(31 / 18 * 1rem),
        font-size-h3: calc(25 / 18 * 1rem),
        font-size-h4: calc(22 / 18 * 1rem),
        font-size-h5: calc(16 / 18 * 1rem),
        font-size-h6: calc(13 / 18 * 1rem)
);

@for $i from 1 through 6 {
  h#{$i} {
    font-size: map_get($font-sizes, "font-size-h#{$i}");
  }
  .h#{$i} {
    font-size: map_get($font-sizes, "font-size-h#{$i}");
  }
  @include media-breakpoint-down(sm) {
    h#{$i} {
      font-size: map_get($font-sizes-sm, "font-size-h#{$i}");
    }
    .h#{$i} {
      font-size: map_get($font-sizes-sm, "font-size-h#{$i}");
    }
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  //margin-bottom: $headings-margin-bottom;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  font-family: $headings-font-family;
}

html {
  font-size: $font-size-base;
}

h1, h2 {
  letter-spacing: -1.0px
}

h3, h4, h5 {
  letter-spacing: -0.5px
}

h1 {
  margin-bottom: 26px;

  //@include media-breakpoint-down(sm) {
  //  margin-bottom: 46px;
  //}
}

h2 {
  margin-bottom: 26px;

  //@include media-breakpoint-down(sm) {
  //  margin-bottom: 46px;
  //}
}

h3 {
  margin-bottom: 22px;

  //@include media-breakpoint-down(sm) {
  //  margin-bottom: 32px;
  //}
}

h4 {
  margin-bottom: 20px;
  line-height: 1.28;
}

h5 {
  margin-bottom: 26px;
  line-height: 1.32;
}

h6 {
  margin-bottom: 10px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    letter-spacing: 1.04px;
  }
}

.h6-small {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  //font-weight: $font-weight-semibold;
  font-size: calc(12 / 18 * 1rem);
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: calc(11 / 18 * 1rem);
    line-height: 15px;
    letter-spacing: 1.83px;
  }
}

.sans-title {
  margin-top: 13px;
  font-size: 26px;
  line-height: 31px;
  font-weight: $font-weight-bold;

  @include media-breakpoint-down(sm) {
    font-size: calc(18 / 18 * 1rem);
    line-height: 21px;
  }
}

.s {
  //margin-top: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: $font-weight-normal;
}

.xs-small-line-height {
  font-size: 13px;
  line-height: 19px;
  font-weight: $font-weight-normal;
}

.xs {
  font-size: 13px;
  line-height: 23px;
  font-weight: $font-weight-normal;
}

.xxs {
  font-size: 12px;
  line-height: 16px;
  font-weight: $font-weight-normal;
}

.mid {
  font-size: 14px;
  line-height: 24px;
}

p {
  font-size: 17px;
  line-height: 31px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 31px;

  .with-link {
    line-height: 24px;
  }
}

ol {
  padding-left: 27px;

  &> li {
    margin-bottom: 20px;
  }
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

ul ul,
ol ul {
  list-style-type: disc;
}

.empty-li {
  list-style-type: none;
  margin-bottom: 20px;
}

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: $link-decoration;
  font-weight: $font-weight-semibold;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.small-link {
  font-size: 13px;
  line-height: 24px;
}

.small-content {
  max-width: 500px;
  margin-top: 50px;
}

.brand-gray {
  color: $brand-grey-new;
}

.green {
  color: $brand-green;
}

.red {
  color: $brand-red;
}

.simple-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 35px;
}

h6 + .simple-row {
  margin-top: 10px;
}

.grid-cell-50 {
  width: 100%;
  margin-top: 17px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  @include media-breakpoint-up(xxs-3) {
    width: calc(50% - 24px);
    margin-right: 48px;
    margin-top: 48px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }
}

.grid-cell-66,
.grid-cell-33 {
  width: 100%;
  margin-top: 17px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  @include media-breakpoint-up(xs) {
    margin-right: 48px;
    margin-top: 48px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }
  }
}

.grid-cell-66 {
  @include media-breakpoint-up(xs) {
    width: calc(66.66666% - 24px);
  }
}

.grid-cell-33 {
  @include media-breakpoint-up(xs) {
    width: calc(33.33334% - 24px);
  }
}

.full-width-wrap {
  margin-top: 44px;
  margin-bottom: 40px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: $brand-grey-30;

  @include media-breakpoint-up(xs) {
    margin: 60px auto 40px;
  }

  img {
    display: block;
    min-width: 100%;
    max-width: 100%;
  }
}

.full-width-wrap__content {
  padding: 31px 24px 38px;

  @include media-breakpoint-up(xs) {
    padding: 38px 52px 47px;
  }
}

.italic {
  font-style: italic;
}

/*
.weight-500 {
  font-weight: 500;
}*/

.h1-centered {
  max-width: 750px;
  margin: auto;
  //text-align: left;
}

.auto-width-cell {
  margin-right: 60px;

  &:last-of-type {
    margin-right: 0;
  }

  h6 + p {
    margin-top: -4px;
  }
}

.semi-bold {
  font-weight: $font-weight-semibold;
}

.mt-73 {
  margin-top: 73px;
}

.mt-47 {
  margin-top: 47px;
}

.acceleratores-img-wrap {
  height: 46px;
  margin-top: 16px;
  margin-bottom: 15px;
}

.centered {
  text-align: center;
}