.we-do-page {
  .blog-post-promo {
    @include media-breakpoint-up(md) {
      h1 {
        width: 80%;
      }
    }
  }

  .blog-post-promo__left {
    h6 {
      width: 100%;
    }

    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }
  }

  .blog-post-promo__img-wrap {
    .blog-post-promo__right {
      background-color: #fff;
    }
  }
}

.wedo-promo {
  position: relative;
  height: auto;
  max-height: 1000px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 25px;
  background-color: #fff;

  @include media-breakpoint-up(md) {
    //height: calc(80vh - 111px);
    height: calc(100vh - 111px);
    min-height: inherit;
    margin-top: 111px;
    padding-bottom: 0;
    background-color: transparent;
  }

  &.dark-color {
    .wedo-promo__left {
     * {
       color: $brand-dark;
     }
    }
  }

  h1 {
    max-width: 540px;
    margin-top: 40px;
    box-sizing: border-box;
    padding-right: 50px;

    @include media-breakpoint-down(xs) {
      max-width: 100%;
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      font-size: 38px;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 14px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 624px;
    }
  }

  h6 {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

.wedo-lets-do {
  //height: 344px;
  //margin-top: 248px;
  background-color: #fff;
  padding-top: 200px;
  padding-bottom: 182px;

  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }

  .page-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
}

.wedo-promo__content {
  width: 100%;
  max-width: 1680px;
  margin-top: 111px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8%;
  padding-right: 8%;
  //background-color: olive;
  z-index: 0;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.wedo-promo__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //background-color: pink;
}

.wedo-promo__right {
  position: relative;
  right: -8vw;
  width: calc(50% + 8vw);
  //width: 50%;
  overflow: hidden;
  //background-color: #fff;
}

.wedo-promo__left,
.wedo-promo__right {
  @include media-breakpoint-down(sm) {
    width: 100%;
    right: auto;
  }
}

.wedo-promo__right__img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  //object-fit: cover;
  object-fit: contain;
  background-color: #fff;
}

.wedo-lets-do__content {
  text-align: center;

  h2 {
    margin-bottom: 0;
  }
}

.wedo-lets-do__link {
  display: inline-block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
}

.wedo-wide-img {
  max-width: 1100px;

  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.wedo-wide-img__img {
  max-width: 100%;
}

.wedo-after-img__blue-tile-wrap {
  .content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.wedo-after-img__blue-tile {
  position: relative;
  width: 300px;
  min-height: 267px;
  margin-top: -133px;
  box-sizing: border-box;
  padding: 30px;
  color: #fff;
  background-color: $brand-primary;

  @include media-breakpoint-down(md) {
    padding: 25px 25px 37px;
    min-height: inherit;

    h5 {
      padding-right: 23px;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-top: 44px
  }

  h5 {
    margin-top: 31px;
    box-sizing: border-box;
    font-size: 22px;
  }
}

.wedo-after-img__blue-tile__top {
  border-bottom: 1px solid rgba(#5E9BEC,0.5);

 .header__links-lessons__text-1 {
   margin-top: -3px;
   margin-bottom: 11px;
 }
}

.wedo-after-img__blue-tile__link {
  position: relative;
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
  padding-right: 30px;
  color: inherit;

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -8px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url('../img/ar_r_w_thin.svg');
  }
}

.wedo-after-img {
  margin-top: 90px;

  @include media-breakpoint-down(xs) {
    margin-top: 35px
  }
}

.wedo-after-img__left {
  width: calc(60% - 40px);
  margin-right: 40px;

  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-right: 0;
  }

  p {
    margin-top: 0;

    ._bold {
      font-weight: 600;
    }
  }

  .xs {
    margin-top: 12px;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
    }
  }
}

.wedo-after-img__right {
  width: 40%;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.wedo-after-img__right-text {
  margin-top: -16px;

  @include media-breakpoint-down(xs) {
    margin-top: 28px;
  }
}

.wedo-after-img__wide-text {
  margin-top: 48px;

  @include media-breakpoint-down(xs) {
    margin-top: 18px;
  }
}

.row-narrow__3-items {
  margin-bottom: -32px;
}

.row-narrow__3-items__item {
  width: 100%;
  min-height: 100px;
  margin-bottom: 32px;
  background-color: $brand-primary;

  @include media-breakpoint-up(xs) {
    width: calc(50% - 16px);
    margin-right: 32px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    width: calc(33.33333% - 22px);

    &:nth-child(2n+2) {
      margin-right: 32px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}

.row-wide__3-items {
  margin-bottom: -32px;
}

.row-wide__3-items__item {
  width: 100%;
  min-height: 340px;
  margin-bottom: 32px;
  background-color: $brand-primary;

  @include media-breakpoint-up(xs) {
    width: calc(50% - 16px);
    margin-right: 32px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    width: calc(33.33333% - 22px);

    &:nth-child(2n+2) {
      margin-right: 32px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}