// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background) {
  $active-background: darken($background, 10%);
  color: $color;
  background-color: $background;

  &:focus,
  &:hover {
    color: $color;
    background-color: $active-background;
  }

  &.disabled,
  &:disabled {
    background-color: $background;
  }

  &:active,
  &.active {
    color: $color;
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}
